.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 1s;
    transition: 1s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 45px;
        width: 35px;
        left: 2px;
        top: -5px;
        background-image: url('../../images/flags/usa.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #ccc;
}

input:focus + .slider {
    box-shadow: #ccc;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(21px);
    background-image: url('../../images/flags/iran.png');
}
