<div class="card w-100 shadow-1-strong rounded-3 mb-4">
    <div class="row">
        <div class="col-xl-1 col-md-2 col-3 comment-profile">
            <UserProfileImage Size=70 UserId="@UserId.ToString()" />
            <p class="text-nowrap"><small class="text-muted">@CommentDate.CalcRelativeTime()</small></p>
        </div>
        <div class="col-xl-11 col-md-10 col-9">
            <div class="row g-0">
                <div class="card-body">
                    <h5 class="card-title">@FullName</h5>
                    <p class="comment-text card-text m-0">@CommentText</p>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter] public Guid UserId { get; set; }
    [Parameter] public string FullName { get; set; }
    [Parameter] public string CommentText { get; set; }
    [Parameter] public DateTime CommentDate { get; set; }
}