@page "/Comment/comments"

<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <CommentItem UserId="Guid.NewGuid()" CommentDate="DateTime.UtcNow.AddDays(-1)" FullName="اکبر اصغری" CommentText="در این مقاله قصد دارم، ابتدا به نقش نظرات آنلاین در سایت اشاره کنم و بعد از آن هم به شما آموزش دهم که چطور در مقابل این نظرات، واکنش خوبی داشته باشید. و درنهایت با استفاده از آن، شاهد اتفاق مثبتی در کسب و کارتان باشید." />
        <CommentItem UserId="Guid.NewGuid()" CommentDate="DateTime.UtcNow.AddHours(-2)" FullName="اکبر اصغری" CommentText="به ابتدای مقاله برگردیم؛ می‌دانید چرا آن گلس گوشی را نخریدم؟ چون از بین حدود 30 نظر مثبت، یک کاربر به شدت از کیفیت آن ناراضی بود و دلایل ناراضی بودنش را به‌صورت منطقی بیان کرده بود. نظر منفی کاربران در فضای اینترنت، تا این حد تأثیرگذار است." />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <CommentItem UserId="Guid.NewGuid()" CommentDate="DateTime.UtcNow.AddMinutes(-13)" FullName="اکبر اصغری" CommentText="نیل پتل گفته است: 97 درصد کاربران، نظرات آنلاین در صفحه سایت را می‌خوانند!" />
        <CommentItem UserId="Guid.NewGuid()" CommentDate="DateTime.UtcNow.AddHours(-14)" FullName="اکبر اصغری" CommentText="در گوگل، عباراتی مثل این را جستجو کنید: بهترین سایت‌های ایمیل مارکتینگ، بهترین افزونه‌های پاپ‌ آپ، بهترین برند لوازم آرایشی و خیلی از موارد دیگر." />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <CommentItem UserId="Guid.NewGuid()" CommentDate="DateTime.UtcNow.AddHours(-144)" FullName="اکبر اصغری" CommentText="درست است که نظر مثبت کاربران تأثیر بالایی روی خرید کاربران تازه وارد دارد؛ اما یک نظر منفی ممکن است همه چیز را عوض کند. دقیقا مثل کنکور سراسری که یک تست اشتباه می‌تواند، چند جواب صحیح را خراب کند؛ یک نظر منفی کاربر هم می‌تواند باعث شود که کاربر جدید تمامی نظرات مثبت را فراموش کند و نسبت به همان یکی تصمیم بگیرد. البته همیشه هم اینطور نیست!" />

    </div>
</div>

@code {

}
