@inject ICommentRepository commentRepository
@inject IStringLocalizer<Resource> localizer

<h4>@localizer["UserComments"]</h4>
@if (allComments == null)
{
    <Loading IsInTop="false" />
}
else if (allComments.Count() == 0)
{
    <BitLabel>@localizer["ThereIsNoComment"]</BitLabel>
}
else
{
    @foreach (var comment in allComments)
    {
        <CommentItem FullComment="comment" />
    }
}

@code {
    IEnumerable<FullCommentDTO> allComments;

    protected override async Task OnInitializedAsync()
    {
        allComments = await commentRepository.GetAllComments();
    }
}
