@inject ICommentRepository commentRepository
@inject IStringLocalizer<Resource> localizer

<div class="card">
    <div class="card-body">
        <div class="card-title"><BitLabel>@localizer["UserComments"]</BitLabel></div>
        <div class="col-12">
            @if (allComments == null)
            {
                <Loading IsInTop="false" />
            }
            else if (allComments.Count() == 0)
            {
                <BitLabel>@localizer["ThereIsNoComment"]</BitLabel>
            }
            else
            {
                @foreach (var comment in allComments)
                {
                    <CommentItem FullComment="comment" />
                }
            }
        </div>
    </div>
</div>

@code {
    IEnumerable<FullCommentDTO> allComments;

    protected override async Task OnInitializedAsync()
    {
        allComments = await commentRepository.GetAllComments();
    }
}
