@inject ICommentRepository commentRepository
@inject IStringLocalizer<Resource> localizer

<h4>@localizer["UserComments"]</h4>
@if (allComments == null)
{
    <Loading IsInTop="false" />
}
else if (allComments.Count() == 0)
{
    <BitMessageBar MessageBarType="BitMessageBarType.Info">
        <BitLabel>@localizer["ThereIsNoComment"]</BitLabel>
    </BitMessageBar>
}
else
{
    @foreach (var comment in allComments)
    {
        <CommentItem FullComment="comment" />
    }
}