@using DNSLab.DTOs.Tips
@using System.Text
@inject ITransactionRepository _TransactionRepository

@if (result.Count > 0)
{
    <h6>حمایت کنندگان</h6>
    <div class="row">
        @foreach (var item in result)
        {
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <SupportItem FullName="@item.FullName" Amount="@item.Amount" />
            </div>
        }
    </div>
}