<div class="mud-theme-primary py-4 px-6 mx-2 rounded">
    <MudText Align="Align.Center" Typo="Typo.h4">@((FullName.Length > 20 ? (FullName.Substring(0,20)+ " ...") :  FullName).EnglishToPersianNumbers())</MudText>
    <MudText Align="Align.Center">@(Amount.ToString("N0").EnglishToPersianNumbers())<small> تومان</small></MudText>
</div>
