@inject IJSRuntime JSRuntime

<button type="button" class="btn btn-primary btn-sm ms-2" @onclick="CopyTextToClipboard">
    <span class="oi oi-clipboard" aria-hidden="true"></span>
</button>

@code {
    [Parameter] public string Text { get; set; }

    private async Task CopyTextToClipboard()
    {
        await JSRuntime.InvokeVoidAsync("clipboardCopy.copyText", Text);
    }
}