@inject IJSRuntime JSRuntime

<button id="@buttonId" type="button" class="btn btn-@(isCopied ? "success" : "secondary") btn-sm ms-2" @onclick="CopyTextToClipboard">
    @if (isCopied)
    {
        <span class="oi oi-check" aria-hidden="true"></span>
    }
    else
    {
        <span class="oi oi-file" aria-hidden="true"></span>
    }
</button>

@code {
    string buttonId = "btnCp" + Guid.NewGuid().ToString().Replace("-", String.Empty);
    bool isCopied = false;
    [Parameter] public string Text { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("addTooltips",buttonId);
        }
    }
    private async Task CopyTextToClipboard()
    {
        isCopied = await JSRuntime.InvokeAsync<bool>("clipboardCopy.copyText", Text);
    }
}