@inject IJSRuntime JSRuntime

<button type="button" class="btn btn-@(isCopied ? "success" : "secondary") btn-sm ms-2" @onclick="CopyTextToClipboard">
    @if (isCopied)
    {
        <text>کپی شد</text>
        <span class="oi oi-check" aria-hidden="true"></span>
    }
    else
    {
        <span class="oi oi-file" aria-hidden="true"></span>
    }
</button>

@code {
    bool isCopied = false;
    [Parameter] public string Text { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync(identifier: "import", "/js/custom/CopyToClipboard.js");
        }
    }
    private async Task CopyTextToClipboard()
    {
        isCopied = await JSRuntime.InvokeAsync<bool>("clipboardCopy.copyText", Text);
    }
}