@using System.Globalization
@using Blazored.LocalStorage
@inject ILocalStorageService localStorage
@inject NavigationManager Nav

<label class="switch">
    <input type="checkbox" @bind=CultureChange>
    <span class="slider"></span>
</label>

@code
{
    private CultureInfo _Culture = CultureInfo.CurrentCulture;
    private bool CultureChange
    {
        get => _Culture == null ? true : _Culture.Name == "fa-FA" ? true : false;
        set => _Culture = value ? new CultureInfo("fa-FA") : new CultureInfo("en-EN");
    }

    public void Save()
    {
        if ((CultureInfo.CurrentCulture.Name == "fa-FA" && CultureChange) ||
            (CultureInfo.CurrentCulture.Name == "en-EN" && !CultureChange))
            return;

        var uri = new Uri(Nav.Uri)
              .GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
        var cultureEscaped = Uri.EscapeDataString(_Culture.Name);
        var uriEscaped = Uri.EscapeDataString(uri);

         Nav.NavigateTo(
                    $"Culture/Set?culture={cultureEscaped}&redirectUri={uriEscaped}",
                    forceLoad: true);
    }
}