@inherits LayoutComponentBase
@inject IStringLocalizer<Resource> localizer

<div class="page" style="direction:@localizer["Direction"];font-family:@localizer["FontFamily"]">
    @Body
</div>
@code {

}
