@inherits LayoutComponentBase
@inject IStringLocalizer<Resource> localizer
@inject IHttpContextAccessor httpContextAccessor
@inject NavigationManager navigationManager

<PageTitle>DNSLab</PageTitle>

<div class="page" style="direction:@localizer["Direction"];font-family:@localizer["FontFamily"]">
    <Toast />
    <CascadingAuthenticationState>
        <CascadingValue Value="@IPDTO">
            <AuthorizeView>
                <Authorized>
                    @{
                        if (navigationManager.ShouldRenderAsWithoutAdminMenu())
                        {
                            <NavBar />
                            <main class="container">
                                @Body
                            </main>
                        }
                        else
                        {
                            <div class="sidebar">
                                <NavMenu />
                            </div>
                            <main class="container">
                                @Body
                            </main>
                        }
                    }
                </Authorized>
                <NotAuthorized>
                    <NavBar />
                    <main class="container">
                        @Body
                    </main>
                </NotAuthorized>
            </AuthorizeView>
        </CascadingValue>
    </CascadingAuthenticationState>
</div>