@inherits LayoutComponentBase
@inject IStringLocalizer<Resource> localizer
@inject IHttpContextAccessor httpContextAccessor
@inject NavigationManager navigationManager

<PageTitle>DNSLab</PageTitle>

<div class="page" style="direction:@localizer["Direction"];font-family:@localizer["FontFamily"]">
    <Toast />
    <CascadingAuthenticationState>
        <CascadingValue Value="@IPDTO">
            <AuthorizeView>
                <Authorized>
                    @{
                        if (navigationManager.ShouldRenderAsWithoutAdminMenu())
                        {
                            <NavBar />
                            <main class="content-not-auth">
                                @Body
                            </main>
                        }
                        else
                        {
                            <div class="sidebar shadow">
                                <NavMenu />
                            </div>
                            <main class="p-4">
                                @Body
                            </main>
                        }
                    }
                </Authorized>
                <NotAuthorized>
                    <NavBar />
                    <main class="content-not-auth">
                        @Body
                    </main>
                </NotAuthorized>
            </AuthorizeView>
        </CascadingValue>
    </CascadingAuthenticationState>
</div>

@code {
    private IPDTO IPDTO = new IPDTO();

    protected override void OnInitialized()
    {
        IPDTO iPDTO = new IPDTO();

        try
        {
            iPDTO.IPv4 = httpContextAccessor.HttpContext.Connection?.RemoteIpAddress.ToString();
        }
        catch (Exception ex)
        {
            //If Null reference exception (Please Enable WebSocket In Feature For IIS *Akbar*)
            iPDTO.IPv4 = "Unavaible";
        }
        IPDTO = iPDTO;
    }
}
