@using DNSLab.DTOs.IP
@using DNSLab.Interfaces.Repository
@inherits LayoutComponentBase
@inject IStringLocalizer<Resource> localizer
@inject IHttpContextAccessor httpContextAccessor

<PageTitle>DNSLab</PageTitle>

<div class="page" style="direction:@localizer["Direction"];font-family:@localizer["FontFamily"]">
    <Toast />
    <CascadingAuthenticationState>
        <AuthorizeView>
            <Authorized>
                <CascadingValue Value="@IPDTO">

                    <div class="sidebar">
                        <NavMenu />
                    </div>
                    <main>
                        <article class="content px-4">
                            @Body
                        </article>
                    </main>
                </CascadingValue>
            </Authorized>
            <NotAuthorized>
                @Body
            </NotAuthorized>
        </AuthorizeView>
    </CascadingAuthenticationState>
</div>

@code {
    private IPDTO IPDTO = new IPDTO();

    protected override void OnInitialized()
    {
        IPDTO iPDTO = new IPDTO();

        try
        {
            iPDTO.IPv4 = httpContextAccessor.HttpContext.Connection?.RemoteIpAddress.ToString();
        }
        catch (Exception ex)
        {
            //If Null reference exception (Please Enable WebSocket In Feature For IIS *Akbar*)
            iPDTO.IPv4 = "Unavaible";
        }
        IPDTO = iPDTO;
    }
}
