@using System.ComponentModel
@inject MetadataTransferService MetadataTransferService
@implements IDisposable

<title>@MetadataTransferService.Title</title>
<meta name="description" content="@MetadataTransferService.Description" />
<meta name="keywords" content="@(String.Join(',',MetadataTransferService.Keywords))" />

@code {
    protected override void OnInitialized() => MetadataTransferService.PropertyChanged += OnMetadataChanged;

    private void OnMetadataChanged(object sender, PropertyChangedEventArgs e) => StateHasChanged();

    public void Dispose() => MetadataTransferService.PropertyChanged -= OnMetadataChanged;
}