<!-- Modal -->
<BitModal @bind-IsOpen=IsOpen IsBlocking=true>
    <div class="modal-header">
        <span>@Title</span>
        <BitIconButton OnClick=@(()=>IsOpen=false) IconName="BitIconName.ChromeClose" Title="Close" />
    </div>
    <div class="modal-body">
        @Body
        @if (@Footer is not null)
        {
            <hr />
            @Footer
        }
    </div>
</BitModal>