<div class="top-row navbar navbar-dark">
    <div class="container-fluid">
        <BitLink Class="navbar-brand" Href="Dashboard"><BitLabel Class="text-white">IP : @IPDTO.IPv4</BitLabel> </BitLink>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass">
    <BitSearchBox Placeholder="جستجو در منو" IsUnderlined="true" OnChange="onChange" OnClear="onClearSearch"></BitSearchBox>
    <BitNavList TextFieldSelector="x=>x.Text"
                UrlFieldSelector="x=>x.Url"
                ItemsFieldSelector="x=>x.Links"
                IconNameFieldSelector="x=>x.Icon"
                Mode="BitNavMode.Manual"
                OnItemClick="(DNSLabMenuItem x)=> ToggleNavMenu(x.Links.Count == 0)"
                Items="AllNavLinks.Where(x =>x.Text.ToLower().Contains(searchedText.ToLower()) || x.Links.Any(l => l.Text.ToLower().Contains(searchedText.ToLower()))).ToList()">
    </BitNavList>
</div>