<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <BitLink Class="navbar-brand" Href="Dashboard"><BitLabel Class="text-white">IP : @IPDTO.IPv4</BitLabel> </BitLink>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass">
    <BitSearchBox Placeholder="جستجو در منو" IsUnderlined="true" OnChange="onChange"></BitSearchBox>
    <BitNav
        AriaLabel="Nav basic example"
        Mode="BitNavMode.Manual"
        NavLinkItems="BasicNoToolTipNavLinks">
    </BitNav>
</div>