@inject IStaticsRepository _StaticsRepository
@inject NavigationManager _NavigationManager

<span class="text-muted">
    تعداد بازدید :
    @if (visitCount > -1)
    {
        <text><strong>@(visitCount.ToString().EnglishToPersianNumbers() + " بار")</strong></text>
    }
    else
    {
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    }
</span>

@code {
    int visitCount = -1;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            visitCount = await _StaticsRepository.PageVisitCount(new Uri(_NavigationManager.Uri).LocalPath);
            await this.InvokeAsync(() => StateHasChanged());
        }
    }
}
