@if (isMultiPage)
{
    <div class="d-flex flex-column align-center">
        <MudPagination Rectangular="true" Variant="Variant.Filled" Count="TotalAmountPages" SelectedChanged="SelectedPageInternal" />
    </div>
}