@inject IPageRepository pageRepository

<TimeLine Data="ChangeLogs" TimeLineHeader="تاریخچه تغییرات سایت">
    <TimeLineItemRenderFragment>
        <TimeLineItem DateTime="@context.ReleaseDate">
            <Body>
                <BitLabel>@context.Title</BitLabel>
            </Body>
        </TimeLineItem>
    </TimeLineItemRenderFragment>
</TimeLine>