@inject IPageRepository pageRepository

<TimeLine Data="ChangeLogs" TimeLineHeader="تاریخچه تغییرات سایت">
    <TimeLineItemRenderFragment>
        <TimeLineItem DateTime="@context.ReleaseDate">
            <Body>
                <p class="small">@context.Title</p>
            </Body>
        </TimeLineItem>
    </TimeLineItemRenderFragment>
</TimeLine>

@code {

    IEnumerable<ChangeLogDTO> ChangeLogs;

    protected override async Task OnInitializedAsync()
    {
        ChangeLogs = await pageRepository.GetLastChangeLogs();
    }
}
