<TimeLine Data="Histories" TimeLineHeader="تاریخچه تغییرات سایت">
    <TimeLineItemRenderFragment>
        <TimeLineItem DateTime="@context.Item1">
            <Body>
                <p class="small">@context.Item2</p>
            </Body>
        </TimeLineItem>
    </TimeLineItemRenderFragment>
</TimeLine>

@code {
    List<Tuple<DateTime, string>> Histories = new List<Tuple<DateTime, string>>
    {
        new Tuple<DateTime, string>(new DateTime(2022,06,22),"اضافه کردن تاریخچه تغییرات به سایت"),
        new Tuple<DateTime, string>(new DateTime(2022,06,20),"اضافه کردن قابلیت نمایش تعداد بازدید از صفحات سایت"),
        new Tuple<DateTime, string>(new DateTime(2022,06,19),"رفع ایراد عدم هدایت به صفحه مورد نظر بعد از ورود به سایت"),
    };
}
