@inject IPageRepository pageRepository

<TimeLine Data="ChangeLogs" TimeLineHeader="تاریخچه تغییرات سایت">
    <TimeLineItemRenderFragment Context="ctx">
        <TimeLineItem DateTime="@ctx.ReleaseDate">
            <Body>
                @if (!String.IsNullOrWhiteSpace(ctx.InformationLink))
                {
                      //Change Dnslab Links Routes for navigate to ChangeLog Page;
                    <BitLabel><BitLink Href="@(String.IsNullOrEmpty(ctx.InformationLink) ? null :
                ((ctx.InformationLink.ToLower().StartsWith("https") || ctx.InformationLink.ToLower().StartsWith("http")) ?
                ctx.InformationLink : $"changelog/{ctx.InformationLink}"))">@ctx.Title</BitLink></BitLabel>
                }
                else
                {
                    <BitLabel>@ctx.Title</BitLabel>
                }
            </Body>
        </TimeLineItem>
    </TimeLineItemRenderFragment>
</TimeLine>