@typeparam TItem

<h4>@TimeLineHeader</h4>
<div id="content">
    <ul class="timeline">
        @foreach (TItem item in Data ?? Array.Empty<TItem>())
        {
            @TimeLineItemRenderFragment(item)
        }
    </ul>
</div>