@typeparam TItem

<MudText Typo="Typo.h3">@TimeLineHeader</MudText>
<div id="content">
    <ul class="timeline">
        @foreach (TItem item in Data ?? Array.Empty<TItem>())
        {
            @TimeLineItemRenderFragment(item)
        }
    </ul>
</div>