<li class="event" data-date="@(DateTime==null ? null : DateTime.Value.CalcRelativeTime())">
    <BitAccordion Title="@(String.IsNullOrEmpty(Header) ? String.Empty : Header)"
                  Description="برای نمایش تغییرات کلیک کنید">
        <ContentTemplate>
            @Body
        </ContentTemplate>
    </BitAccordion>
</li>
@code {
    [Parameter] public string? Header { get; set; }
    [Parameter] public RenderFragment Body { get; set; }
    [Parameter] public DateTime? DateTime { get; set; }
}