<li class="event" data-date="@(DateTime==null ? null : DateTime.Value.CalcRelativeTime())">
    @if (!String.IsNullOrEmpty(Header))
    {
        <h3>@Header</h3>
    }
    @Body
</li>
@code {
    [Parameter] public string? Header { get; set; }
    [Parameter] public RenderFragment Body { get; set; }
    [Parameter] public DateTime? DateTime { get; set; }
}