@typeparam TItem

<h4>@TimeLineHeader</h4>
<div id="content">
    <ul class="timeline">
        @foreach (TItem item in Data ?? Array.Empty<TItem>())
        {
            @TimeLineItemRenderFragment(item)
        }
    </ul>
</div>

@code {
    [Parameter] public string TimeLineHeader { get; set; }
    [Parameter] public IEnumerable<TItem> Data { get; set; }
    [Parameter] public RenderFragment<TItem> TimeLineItemRenderFragment { get; set; }
}
