@typeparam TItem

<div class="card">
    <div class="card-body">
        <h6 class="card-title">@TimeLineHeader</h6>
        <div id="content">
            <ul class="timeline">
                @foreach (TItem item in Data ?? Array.Empty<TItem>())
                {
                    @TimeLineItemRenderFragment(item)
                }
            </ul>
        </div>
    </div>
</div>

@code {
    [Parameter] public string TimeLineHeader { get; set; }
    [Parameter] public IEnumerable<TItem> Data { get; set; }
    [Parameter] public RenderFragment<TItem> TimeLineItemRenderFragment { get; set; }
}
