<li class="event" data-date="@GetRelativeTime">
    @if (!String.IsNullOrEmpty(Header))
    {
        <h3>@Header</h3>
    }
    @Body
</li>
@code {
    [Parameter] public string? Header { get; set; }
    [Parameter] public RenderFragment Body { get; set; }
    [Parameter] public DateTime DateTime { get; set; }

    private string GetRelativeTime
    {
        get
        {
            return DateTime.ToLocalizerString();
        }
    }
}