@inherits ToastBase

<BitModal IsAlert=true IsOpen="@IsVisible">
    <BitMessageBar MessageBarType="MessageType" OnDismiss="Close" DismissIconName="BitIconName.ChromeClose" />
    <div class="modal-body">
        <BitLabel>@Message</BitLabel>
    </div>
</BitModal>