@using Microsoft.AspNetCore.Components.Web
@namespace DNSLab.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="google-site-verification" content="DrTiWMFW0QRpDGyQB_BSAorUG0a7srfmTxFb_wUoeRA" />
    <meta name="description" content="DNSLab Free Dynamic DNS and Managed DNS Provider , دی ان اس لب داینامیک دی ان اس رایگان برای آی پی های متغییر" />

    <title>DNSLab</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="DNSLab.styles.css" rel="stylesheet" />
    <link href="css/loading/loading.css" rel="stylesheet" />
    <link href="css/particles/style.css" rel="stylesheet" />
    <link href="css/toast/toast.css" rel="stylesheet" />
    <link href="css/custom/timeline.css" rel="stylesheet" />

    <script src="js/particles/particles.js"></script>
    <script src="js/particles/app.js"></script>
    <script src="js/jquery/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/custom/BootstrapModalInterop.js"></script>
    <script src="js/custom/BrowserDimension.js"></script>

    <script>
        window.blazorCulture = {
            get: () => window.localStorage['BlazorCulture'],
            set: (value) => window.localStorage['BlazorCulture'] = value
        };
    </script>

    <script type="application/javascript">
        $(window).on('popstate', function() {
            $('.modal').modal('hide');
            $( ".modal-backdrop" ).remove();
            $( ".in" ).remove();
        });
    </script>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
