<div class="d-flex flex-column flex-grow-1 gap-4 dnslab-page">
    @ChildContent
</div>
@if (@Actions != null)
{
    <div class="d-flex flex-row flex-grow-1 gap-4 mt-3">
        @Actions
    </div>
}

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public RenderFragment Actions { get; set; }
}
