<div class="dnslab-page-section">
    @ChildContent
    @if (@Actions != null)
    {
        <div class="d-flex flex-row flex-grow-1 gap-4 mt-3">
            @Actions
        </div>
    }
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public RenderFragment Actions { get; set; }
}
