<div class="d-flex flex-column flex-grow-1 gap-4">
    @Body
</div>
<div class="d-flex flex-row flex-grow-1 gap-4 mt-3">
    @Actions
</div>

@code {
    [Parameter] public RenderFragment Body { get; set; }
    [Parameter] public RenderFragment Actions { get; set; }
}
