@page "/Transaction/Callback"
@using ApplicationCore.Enums
@inject ITransactionRepository _TransactionRepository

<div class="pt-5 col-md-6 container text-center">
    @if (Success == 1)
    {
        <BitMessageBar MessageBarType="BitMessageBarType.Success">
            <BitLabel>پرداخت با موفقیت انجام شد</BitLabel>
            <BitLabel>شناسه پرداخت : @TrackId</BitLabel>
        </BitMessageBar>
    }
    else
    {
        <BitMessageBar MessageBarType="BitMessageBarType.Blocked" role="alert">
            <BitLabel>پرداخت با شکست مواجه شد</BitLabel>
            <BitLabel>شناسه : @TrackId</BitLabel>
            <BitLabel>علت : @Result</BitLabel>
        </BitMessageBar>
    }
    <BaseNavigateButtonComponent Href="/"
                                 Text="@(IsVerified == null ? "در حال بررسی تراکنش..." : "بازگشت")"
                                 Icon=BitIconName.Home>
    </BaseNavigateButtonComponent>
</div>

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public long? TrackId { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public int? Success { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public int? Status { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? OrderId { get; set; }

    bool? IsVerified = null;
    string? Result = null;

    protected override async Task OnInitializedAsync()
    {
        if (TrackId.HasValue)
            IsVerified = await _TransactionRepository.Verify(TrackId.Value);

        if (Status.HasValue)
        {
            switch (Status.Value)
            {
                case (int)TransactionStatusEnum.PaidConfirmed:
                    Result = String.Empty;
                    break;
                case (int)TransactionStatusEnum.PaidUnverified:
                    Result = "پرداخت شده - تاییدنشده";
                    break;
                case (int)TransactionStatusEnum.CanceledByUser:
                    Result = "لغو شده توسط کاربر";
                    break;
                case (int)TransactionStatusEnum.TheCardNumberIsInvalid:
                    Result = "‌شماره کارت نامعتبر می‌باشد";
                    break;
                case (int)TransactionStatusEnum.TheAccountBalanceIsInsufficient:
                    Result = "‌موجودی حساب کافی نمی‌باشد";
                    break;
                case (int)TransactionStatusEnum.TheEnteredPasswordIsWrong:
                    Result = "رمز واردشده اشتباه می‌باشد";
                    break;
                case (int)TransactionStatusEnum.TheIssuerOfTheCardIsInvalid:
                    Result = "‌صادرکننده‌ی کارت نامعتبر می‌باشد";
                    break;
                case (int)TransactionStatusEnum.TheCardIsNotAccessible:
                    Result = "‌کارت قابل دسترسی نمی‌باشد";
                    break;
                case (int)TransactionStatusEnum.TheNumberOfRequestsIsOverTheLimit:
                case (int)TransactionStatusEnum.TheNumberOfOnlinePaymentsPerDayIsMoreThanTheAllowedLimit:
                case (int)TransactionStatusEnum.TheAmountOfDailyInternetPaymentIsMoreThanTheAllowedLimit:
                case (int)TransactionStatusEnum.SwitchError:
                default:
                    Result = "خطای نامعلوم";
                    break;
            }
        }

    }
}
