@inject IDNSRepository _DNSRepository
@page "/Report/IPChangesChart"
@using System.Drawing

@attribute [Authorize]

<MudText Typo="Typo.h3">نمودار تعداد دفعات تغییر IP در ۳۰ روز اخیر</MudText>
<MudText>در این فرم شما تعداد دفعات تغییرات آی‌پی رکورد های DNS Host (A) به تفکیک روز را در قالب نمودار مشاهده خواهید نمود.</MudText>

@if (XAxisLabels == null)
{
    <Loading />
}
else
{
    <div>
        <MudChart ChartType="ChartType.Bar" ChartSeries="@Series" XAxisLabels="@XAxisLabels" Width="100%" ChartOptions="new ChartOptions{ YAxisTicks = 1 }"></MudChart>
    </div>
}