@using DNSLab.Web.DTOs.Repositories.Payment
@attribute [Route(AllRoutes.Payments)]
@attribute [Authorize]

<MudCard Elevation="0" Outlined>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h5">پرداخت‌ها</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <MudDataGrid T="PaymentDTO" VirtualizeServerData="ServerDataFunc" Virtualize Dense Hover Bordered Outlined FixedHeader Striped SortMode="SortMode.None" Height="70vh" ItemSize="55">
            <NoRecordsContent>
                <MudAlert Severity="Severity.Warning" ContentAlignment="HorizontalAlignment.Center" NoIcon>
                    <MudText Typo="Typo.caption">هیچ تراکنشی یافت نشد</MudText>
                </MudAlert>
            </NoRecordsContent>
            <Columns>
                <PropertyColumn Property="x=>x.Amount" Title="مبلغ (ريال)" />
                <PropertyColumn Property="x=>x.CreateDate" Title="زمان">
                    <CellTemplate>
                        <MudText>@context.Item.CreateDate.ToLocalTime().ToPersianDateTime().EnglishToPersianNumbers()</MudText>
                    </CellTemplate>
                </PropertyColumn>
                <PropertyColumn Property="x=>x.Status" Title="وضعیت" />
                <PropertyColumn Property="x=>x.Description" Title="توضیحات" />
            </Columns>
            <RowLoadingContent>
                <tr class="mud-table-row" style="height:37px">
                    <td class="mud-table-cell" colspan="1000">
                        در حال بارگذازی...
                    </td>
                </tr>
            </RowLoadingContent>
        </MudDataGrid>
    </MudCardContent>
</MudCard>