@if (isMultiPage)
{
    <div class="d-flex flex-column align-center dnslab-button-pagination">
        <MudPagination Class="mt-2 mb-2" Rectangular="true" Variant="Variant.Filled" Count="TotalAmountPages" SelectedChanged="SelectedPageInternal" />
    </div>
}