@inject IDNSRepository _DNSRepository
@page "/Report/IPChangesChart"
@using System.Drawing

@attribute [Authorize]

<h1>نمودار تعداد دفعات تغییر IP در ۳۰ روز اخیر</h1>
<BitLabel>در این فرم شما تعداد دفعات تغییرات آی‌پی رکورد های DNS Host (A) به تفکیک روز را در قالب نمودار مشاهده خواهید نمود.</BitLabel>
<hr />
@if (_stackedBarChartConfigExample == null)
{
    <Loading />
}
else
{
    <div>
        <BitChart Config="_stackedBarChartConfigExample" />
    </div>
}