@inherits LayoutComponentBase

<MudThemeProvider Theme="@_theme" IsDarkMode="GlobalSettings.DarkMode" />

<MudRTLProvider RightToLeft="GlobalSettings.RightToLeft">
    <MudPopoverProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
    <MudLayout>
        <CascadingAuthenticationState>
            <AppBar MenuOnClick="(()=>_NavMenu.DrawerToggle())" />
            <NavMenu @ref="_NavMenu" />
            <MudMainContent Class="mt-16 pa-4">
                <MudContainer MaxWidth="MaxWidth.Large">
                    @Body
                </MudContainer>
            </MudMainContent>
        </CascadingAuthenticationState>
    </MudLayout>
</MudRTLProvider>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private MudTheme? _theme = null;
    private NavMenu _NavMenu;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        string[] boldFontFamily = { "vazir-bold" };
        _theme = new()
            {
                Typography = new Typography()
                {
                    Default = new Default()
                    {
                        FontFamily = ["vazir-regular"]
                    },
                    H1 = new H1
                    {
                        FontFamily = boldFontFamily,
                        FontSize = "3.0rem"
                    },
                    H2 = new H2
                    {
                        FontFamily = boldFontFamily,
                        FontSize = "2.2rem"
                    },
                    H3 = new H3
                    {
                        FontFamily = boldFontFamily,
                        FontSize = "1.75rem"
                    },
                    H4 = new H4
                    {
                        FontFamily = boldFontFamily,
                        FontSize = "0.75rem"
                    },
                    H5 = new H5
                    {
                        FontFamily = boldFontFamily
                    },
                    H6 = new H6
                    {
                        FontFamily = boldFontFamily
                    }
                },
                PaletteLight = _lightPalette,
                PaletteDark = _darkPalette,
                LayoutProperties = new LayoutProperties()
            };
    }

    private readonly PaletteLight _lightPalette = new()
        {
            Black = "#110e2d",
            AppbarText = "#424242",
            AppbarBackground = "rgba(255,255,255,0.8)",
            DrawerBackground = "rgba(255,255,255,0.8)",
            GrayLight = "#e8e8e8",
            GrayLighter = "#f9f9f9",
            Primary = "#029cf5",
            Secondary = "#ff7c6e",
            Info = "#2cbfc7",
            Success = "#54d169",
            Warning = "#ff8359",
            Error = "#F40B48",
        };

    private readonly PaletteDark _darkPalette = new()
        {
            Primary = "#029cf5",
            Secondary = "#ff7c6e",
            Surface = "#242526",
            TableHover = "#3a3b3c",
            Background = "#18191a",
            BackgroundGray = "#151521",
            AppbarText = "#BFBFBF",
            AppbarBackground = "#242526",
            DrawerBackground = "#242526",
            ActionDefault = "#b3b3b3",
            ActionDisabled = "#9999994d",
            ActionDisabledBackground = "#605f6d4d",
            TextPrimary = "#e4e6eb",
            TextSecondary = "#b0b3b8",
            TextDisabled = "#ffffff33",
            DrawerIcon = "#92929f",
            DrawerText = "#92929f",
            GrayLight = "#2a2833",
            GrayLighter = "#1e1e2d",
            Info = "#2cbfc7",
            Success = "#54d169",
            Warning = "#ff8359",
            Error = "#F40B48",
            LinesDefault = "#33323e",
            TableLines = "#33323e",
            Divider = "#292838",
            OverlayLight = "#1e1e2d80",
        };
}


