<div class="card h-100 shadow border border-warning rounded-pill">
    <div class="card-body">
        <p class="card-title text-center mb-0">@((FullName.Length > 20 ? (FullName.Substring(0,20)+ " ...") :  FullName).EnglishToPersianNumbers())</p>
        <p class="text-center mb-0">@(Amount.ToString("N0").EnglishToPersianNumbers() + " تومان")</p>
    </div>
</div>

@code {
    [Parameter] public string FullName { get; set; }
    [Parameter] public long Amount { get; set; }
}
