@using DNSLab.DTOs.Tips
@using System.Text
@inject ITransactionRepository _TransactionRepository

@if (result.Count > 0)
{
    <h6>حمایت کنندگان</h6>
    @foreach (var rows in result.Chunk(10))
    {
        <div class="row">
            @foreach (var item in @rows)
            {
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <SupportItem FullName="@item.FullName" Amount="@item.Amount" />
                </div>
            }
        </div>
    }
}

@code {
    List<TipDTO> result = new List<TipDTO>();

    protected override async Task OnInitializedAsync()
    {
        var Supporters = await _TransactionRepository.GetTips();

        if (Supporters.Count() > 0)
        {
            StringBuilder sb = new StringBuilder();

            var amountUnknownSupportersCoffee = Supporters.Where(x => String.IsNullOrWhiteSpace(x.FullName));

            result.Add(new TipDTO { FullName = $"{amountUnknownSupportersCoffee.Count()} فرد ناشناس", Amount = amountUnknownSupportersCoffee.Sum(x => x.Amount) });
            result.AddRange(Supporters.Where(x => !String.IsNullOrWhiteSpace(x.FullName)).Select(x => new TipDTO { FullName = x.FullName, Amount = x.Amount }));
        }

    }
}

