@inject ITransactionRepository _TransactionRepository

<div class="btn-group dir-ltr col-auto" role="group">
    <button type="button" class="btn btn-outline-success" style="pointer-events: none;"><strong>@supporterCount.ToString().EnglishToPersianNumbers()</strong>❤️</button>
    <a type="button" class="btn btn-success text-decoration-none text-white" href="Transaction/Tip">از رایگان ماندن دی‌ان‌اس لب حمایت کنید</a>
</div>


@code {
    int supporterCount;

    protected override async Task OnInitializedAsync()
    {
        supporterCount = (await _TransactionRepository.GetTips()).Count();
    }
}