@page "/Transaction/Tip"
@using DNSLab.DTOs.Transactions

@inject NavigationManager navigationManager
@inject IStringLocalizer<Resource> localizer
@inject ToastService _toastService;
@inject ITransactionRepository _TransactionRepository

<div class="container-md">
    <EditForm class="container-sm col-lg-4 mt-3" Model=TipTransaction Context="TipCtx">
        <DataAnnotationsValidator />
        <div class="card mb-4">
            <div class="card-header"><BitLabel>حمایت از دی‌ان‌اس لب</BitLabel></div>
            <div class="card-body">
                <BitTextField Label="نام و نام خانوادگی" Placeholder="نام و نام خانوادگی (اختیاری)" @bind-Value="TipTransaction.FullName" />
                <BitTextField Label="تلفن همراه" Class="dir-ltr" Placeholder="تلفن همراه 09123456789 (اختیاری)" @bind-Value="TipTransaction.Mobile" />
                <BitDropDown Label="مقدار حمایت" IsRtl=true
                             @bind-Value="@selectedAmountType"
                             Items="AmountTypes()">
                </BitDropDown>
                @if (@selectedAmountType == "0")
                {
                    <BitTextField Label="مبلغ" Class="dir-ltr" Placeholder="مبلغ دلخواه (تومان)" @bind-Value="Amount" />
                }
                <BaseButtonComponent Caption=@localizer["Continue"]
                                     IsBussyCaption=@localizer["Loading"]
                                     CssClass="col-12"
                                     Color=ColorEnum.Success
                                     Icon=BitIconName.HeartFill
                                     EditContext=TipCtx
                                     OnClick=Go></BaseButtonComponent>
                <BaseNavigateButtonComponent Href="/"
                                             Text="@localizer["Cancel"]"
                                             Icon=BitIconName.Cancel>
                </BaseNavigateButtonComponent>
            </div>
        </div>
    </EditForm>
    <hr />
    <div class="row">
        <OurSupporters />
    </div>
</div>
@code {
    public TipTransactionDTO TipTransaction { get; set; } = new TipTransactionDTO { };

    string Amount { get; set; }

    public List<BitDropDownItem> AmountTypes()
    {
        return new List<BitDropDownItem>{
            new BitDropDownItem{ Value = "20000",Text = "20,000 تومان 🙂" },
            new BitDropDownItem{ Value = "50000",Text = "50,000 تومان 😃" },
            new BitDropDownItem{ Value = "100000",Text = "100,000 تومان 😍" },
            new BitDropDownItem{ Value = "0",Text = "مبلغ درخواه 😎"},
        };
    }

    private string selectedAmountType { get; set; } = "50000";

    private async Task Go()
    {
        int amount = 0;
        if (selectedAmountType != "0")
            amount = Convert.ToInt32(selectedAmountType);
        else
            amount = Convert.ToInt32(Amount);
        TipTransaction.Amount = amount;

        var result = await _TransactionRepository.Tip(TipTransaction);
        if (!String.IsNullOrEmpty(result))
            navigationManager.NavigateTo(result);
    }
}