@page "/user/ChangePassword"

@inject IStringLocalizer<Resource> localizer
@inject IAccountRepository accountReository
@inject NavigationManager navigationManager
@inject ToastService toastService;

<AuthorizeView>
    <div class="container-xl mt-5">
        <div class="row">
            <EditForm class="container-sm mt-4 col-lg-4" Context="ChangePasswordContext" Model=changePassword>
                <DataAnnotationsValidator />
                <div class="card mb-4">
                    <div class="card-header">تغییر رمز عبور</div>
                    <div class="card-body">


                        <div class="mb-3">
                            <label class="mb-1">رمز عبور قبلی</label>
                            <InputPassword class="form-control" placeholder="رمز عبور قبلی" @bind-Value="@changePassword.CurrentPassword" required />
                            <ValidationMessage class="invalid-feedback" For="@(()=> changePassword.CurrentPassword)" />
                            <label class="mb-1">رمز جدید</label>
                            <InputPassword class="form-control" placeholder="رمز جدید" @bind-Value="@changePassword.NewPassword" required />
                            <ValidationMessage class="invalid-feedback" For="@(()=> changePassword.NewPassword)" />
                        </div>

                        <div class="mb-3 d-grid gap-2">
                            <BaseButtonComponent Caption=@localizer["SaveChanges"]
                                                 IsBussyCaption=@localizer["Loading"]
                                                 Color=ColorEnum.Primary
                                                 Icon=IconEnum.Check
                                                 EditContext=ChangePasswordContext
                                                 OnClick=SubmitChangePassword></BaseButtonComponent>
                            <a class="btn btn-warning" href="user/info">انصراف</a>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</AuthorizeView>
@code {
    private ChangePasswordDTO changePassword = new ChangePasswordDTO();

    private async Task SubmitChangePassword()
    {
        if (await accountReository.ChangePassword(changePassword))
        {
            toastService.ShowToast("رمز عبور شما با موفقیت تغییر یافت", ToastLevel.Success);
            navigationManager.NavigateTo("user/info");
        }
    }
}