@page "/user/ForgetPassword"
@using DNSLab.DTOs.User
@using DNSLab.Interfaces.Repository
@inject IStringLocalizer<Resource> localizer
@inject IAccountRepository accountReository

<div class="container-xl mt-5">
    <div class="row">
        @if (isForgetPasswordLinkSent)
        {
            <div class="alert alert-success" role="alert">
                <p>لینک تنظیم مجدد رمز عبور به ایمیل <strong>@forgetPassword.Email</strong> ارسال گردید. لطفا ایمیل خود را بررسی فرمایید.</p>
            </div>
        }
        else
        {
            <EditForm class="container-sm mt-4 col-lg-4" Model=forgetPassword OnValidSubmit="CreateUser">
                <DataAnnotationsValidator />
                <div class="card mb-4">
                    <div class="card-header">فراموشی رمز عبور</div>
                    <div class="card-body">


                        <div class="mb-3">
                            <label class="small mb-1">آدرس ایمیل حساب کاربری</label>
                            <InputText class="form-control" placeholder="ایمیل" @bind-Value="@forgetPassword.Email" required />
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary" disabled="@isSubmited">
                                @if (isSubmited)
                                {
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    <text>@localizer["Loading"]...</text>
                                }
                                else
                                {
                                    <text>ارسال</text>
                                }
                            </button>
                        </div>

                    </div>
                </div>
            </EditForm>
        }
    </div>
</div>

@code {
    private ForgetPasswordDTO forgetPassword = new ForgetPasswordDTO();
    private bool isSubmited = false;

    private bool isForgetPasswordLinkSent = false;

    private async Task CreateUser()
    {
        isSubmited = true;
        isForgetPasswordLinkSent = await accountReository.ForgetPassword(forgetPassword);
        isSubmited = false;
    }
}
