@page "/user/ForgetPassword"

@inject IStringLocalizer<Resource> localizer
@inject IAccountRepository accountReository

<div class="container-xl mt-5">
    @if (isForgetPasswordLinkSent)
    {
        <BitMessageBar MessageBarType="BitMessageBarType.Success">
            <BitLabel>لینک تنظیم مجدد رمز عبور به ایمیل <strong>@forgetPassword.Email</strong> ارسال گردید. لطفا ایمیل خود را بررسی فرمایید.</BitLabel>
        </BitMessageBar>
    }
    else
    {
        <EditForm class="container-sm mt-4 col-lg-4" Model=forgetPassword Context=ForgetPasswordContext>
            <DataAnnotationsValidator />
            <div class="card mb-4">
                <div class="card-header"><BitLabel>فراموشی رمز عبور</BitLabel></div>
                <div class="card-body">
                    <BitTextField Label="آدرس ایمیل حساب کاربری" Class="dir-ltr" Placeholder="ایمیل" @bind-Value="@forgetPassword.Email" IsRequired />
                    <BaseButtonComponent Caption=@localizer["Send"]
                                     IsBussyCaption=@localizer["Loading"]
                                     CssClass="col-12"
                                     Color=ColorEnum.Primary
                                     Icon=BitIconName.Send
                                     EditContext=ForgetPasswordContext
                                     OnClick=SendForgetPasswordLink></BaseButtonComponent>
                    <BaseNavigateButtonComponent Text="انصراف"
                                             Icon="BitIconName.Cancel"
                                             Href="user/auth"></BaseNavigateButtonComponent>
                </div>
            </div>
        </EditForm>
    }
</div>

@code {
    private ForgetPasswordDTO forgetPassword = new ForgetPasswordDTO();
    private bool isForgetPasswordLinkSent = false;

    private async Task SendForgetPasswordLink()
    {
        isForgetPasswordLinkSent = await accountReository.ForgetPassword(forgetPassword);
    }
}
