@page "/user/ForgetPassword"

@inject IStringLocalizer<Resource> localizer
@inject IAccountRepository accountReository

<div class="container-xl mt-5">
    <div class="row">
        @if (isForgetPasswordLinkSent)
        {
            <div class="alert alert-success" role="alert">
                <p>لینک تنظیم مجدد رمز عبور به ایمیل <strong>@forgetPassword.Email</strong> ارسال گردید. لطفا ایمیل خود را بررسی فرمایید.</p>
            </div>
        }
        else
        {
            <EditForm class="container-sm mt-4 col-lg-4" Model=forgetPassword Context=ForgetPasswordContext>
                <DataAnnotationsValidator />
                <div class="card mb-4">
                    <div class="card-header">فراموشی رمز عبور</div>
                    <div class="card-body">


                        <div class="mb-3">
                            <label class="mb-1">آدرس ایمیل حساب کاربری</label>
                            <InputText class="form-control" placeholder="ایمیل" @bind-Value="@forgetPassword.Email" required />
                        </div>
                         <BaseButtonComponent Caption=@localizer["Send"]
                                         IsBussyCaption=@localizer["Loading"]
                                         CssClass="col-12"
                                         Color=ColorEnum.Primary
                                         Icon=IconEnum.Envelope_Closed
                                         EditContext=ForgetPasswordContext
                                         OnClick=SendForgetPasswordLink></BaseButtonComponent>
                    </div>
                </div>
            </EditForm>
        }
    </div>
</div>

@code {
    private ForgetPasswordDTO forgetPassword = new ForgetPasswordDTO();
    private bool isForgetPasswordLinkSent = false;

    private async Task SendForgetPasswordLink()
    {
        isForgetPasswordLinkSent = await accountReository.ForgetPassword(forgetPassword);
    }
}
