@page "/user/logout"

@inject IAuthService authService
@inject NavigationManager navigationManager

<p>در حال خروج از سامانه لطفا صبر کنید ...</p>

@code {
    protected async override Task OnInitializedAsync()
    {
        await authService.Logout();
        navigationManager.NavigateTo("");
    }
}
