@page "/user/logout"

@inject IAuthService authService
@inject NavigationManager navigationManager

<p>در حال خروج از سامانه لطفا صبر کنید ...</p>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await authService.Logout();
            navigationManager.NavigateTo("");
            StateHasChanged();
        }
    }
}
