@page "/user/ResetPassword/{Token}"

@inject IStringLocalizer<Resource> localizer
@inject IAccountRepository accountReository

<div class="container-xl mt-5">
    <div class="row">
        @if (isPasswordChanged)
        {
            <div class="alert alert-success" role="alert">
                <p>رمز عبور شما با موفقیت تغییر کرد.</p>
            </div>
            <a class="btn btn-primary col-md-3 col-sm-12" href="user/auth">بازگشت به صفحه ورود</a>
        }
        else
        {
            <EditForm class="container-sm mt-4 col-lg-4" Model=resetPassword Context=ResetPasswordContext>
                <DataAnnotationsValidator />
                <div class="card mb-4">
                    <div class="card-header">تغییر رمز عبور</div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="small mb-1">رمز عبور جدید را وارد نمایید</label>
                            <InputPassword class="form-control" placeholder="رمز عبور" @bind-Value="@resetPassword.Password" required />
                        </div>
                        <BaseButtonComponent Caption=@localizer["SaveChanges"]
                                         IsBussyCaption=@localizer["Loading"]
                                         CssClass="col-12"
                                         Color=ColorEnum.Primary
                                         Icon=IconEnum.Check
                                         EditContext=ResetPasswordContext
                                         OnClick=ResetUserPassword></BaseButtonComponent>
                    </div>
                </div>
            </EditForm>
        }
    </div>
</div>

@code {
    [Parameter] public string Token { get; set; }
    private ResetPasswordDTO resetPassword = new ResetPasswordDTO();

    private bool isPasswordChanged = false;

    private async Task ResetUserPassword()
    {
        resetPassword.Token = Token;
        isPasswordChanged = await accountReository.ResetPassword(resetPassword);
    }
}
