@page "/settings/security"

@inject IStringLocalizer<Resource> localizer
@inject IAccountRepository accountReository
@inject NavigationManager navigationManager
@inject ToastService toastService;

@attribute [Authorize]

<div class="container-sm mt-4 col-lg-4">
    <h4>تغییر رمز عبور</h4>
    <BitTextField Label="رمز عبور قبلی" Type="BitTextFieldType.Password" AutoComplete="new-password" Class="dir-ltr" Placeholder="رمز عبور قبلی" @bind-Value="@changePassword.CurrentPassword" IsRequired />
    <BitTextField Label="رمز عبور جدید" Type="BitTextFieldType.Password" AutoComplete="new-password" Class="dir-ltr" Placeholder="رمز جدید" @bind-Value="@changePassword.NewPassword" IsRequired />
    <div class="row align-items-center">
        <div class="col-auto">
            <BaseButtonComponent Caption=@localizer["SaveChanges"]
                                 IsBussyCaption=@localizer["Loading"]
                                 Color=Color.Primary
                                 Icon=@Icons.Material.Filled.Save
                                 OnClick=SubmitChangePassword></BaseButtonComponent>
        </div>
        <div class="col-auto">
            <BitLink Href="user/ForgetPassword">
                <BitLabel>
                    رمز عبورمو فراموش کردم
                </BitLabel>
            </BitLink>
        </div>
    </div>
</div>
