@page "/settings/you"
@inject IAccountRepository _AccountRepository
@inject IStringLocalizer<Resource> _Localizer
@inject ToastService _ToastService

@attribute [Authorize]

<h4>تنظیمات</h4>

@if (settings == null)
{
    <Loading />
}
else
{
    <h5>ایمیل</h5>
    <BitMessageBar MessageBarType="BitMessageBarType.Warning">
        <BitLabel>در صورتی که آدرس ایمیل تایید نشده باشد امکان استفاده از این بخش وجود ندارد.</BitLabel>
    </BitMessageBar>
    <BitToggle Label="ارسال ایمیل در صورت دریافت پاسخ به تیکت" @bind-Value="@settings.SendEmailWhenGotTicketReply" />
    <BitToggle Label="ارسال ایمیل در صورت تغییر آی‌پی هاست" @bind-Value="@settings.SendEmailWhenDNSIPChanged" />
    <hr />
    <div class="col-md-4">
        <CultureSelector @ref=cultureSelector />
    </div>
    <hr />
    <BaseButtonComponent Caption=@_Localizer["SaveChanges"]
                     IsBussyCaption=@_Localizer["Progressing"]
                     Color=Color.Primary
                     Icon=@Icons.Material.Filled.Save
                     OnClick="SaveChanges"></BaseButtonComponent>
}
