@page "/{PageType}/{*URL}"
@inject IPageRepository _PageRepository

<div class="container p-5 bg-body rounded shadow-sm article ck-content">
    @if (publishPageDTO != null)
    {
        <h1>@publishPageDTO.Header</h1>
        <PageVisitCounter />
        <hr />
        @((MarkupString)@publishPageDTO.Body)
        <div class="row col-12">
            <BuyMeACoffee />
        </div>
    }
</div>

@code {
    [Parameter] public string PageType { get; set; }
    [Parameter] public string URL { get; set; }

    PublishPageDTO publishPageDTO;
    protected override async Task OnInitializedAsync()
    {
        publishPageDTO = await _PageRepository.GetPageByURL(url: $"{PageType}/{URL}");
    }
}
