@page "/Article/{URL}"
@inject IPageRepository _PageRepository

<div class="container p-5 bg-body rounded shadow-sm article">
    @if (publishPageDTO != null)
    {
        <h1>@publishPageDTO.Header</h1>
        <PageVisitCounter />
        <hr />
        @((MarkupString)@publishPageDTO.Body)
    }
</div>

@code {
    [Parameter] public string URL { get; set; }

    PublishPageDTO publishPageDTO;
    protected override async Task OnInitializedAsync()
    {
        publishPageDTO = await _PageRepository.GetPageByURL(url: URL);
    }
}
