@attribute [Authorize]

@inject IIPRepository iPRepository
@inject IStringLocalizer<Resource> localizer

@typeparam TItem

<EditForm Model="Model" Context="editCtx">
    <DataAnnotationsValidator />
    <div class="card mb-4">
        <div class="card-header"><BitLabel>@Header</BitLabel></div>
        <div class="card-body">
            <div class="row gx-3 mb-3">
                @Body
                @if (!String.IsNullOrEmpty(Result))
                {
                    <div class="col-md-12">
                        <hr>
                        <BitLabel Class="dir-ltr">@Result</BitLabel>
                    </div>
                }
            </div>
            <BaseButtonComponent Caption="@localizer["Check"]"
                                 Icon=BitIconName.Search
                                 OnClick=OnValidSubmit
                                 EditContext="editCtx">
            </BaseButtonComponent>
            <BaseNavigateButtonComponent Text="@localizer["Cancel"]"
                                         Href="tools"
                                         Icon=BitIconName.Cancel>
            </BaseNavigateButtonComponent>
        </div>
    </div>

</EditForm>

@code {
    [Parameter] public TItem Model { get; set; }
    [Parameter] public string Header { get; set; }
    [Parameter] public RenderFragment Body { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public string Result { get; set; }
    [Parameter] public bool IsProgressing { get; set; }
}
