@inject IStringLocalizer<Resource> localizer

<div class="permission_denied">
    <div id="particles-js-error-pages"></div>
    <div class="denied__wrapper">
        <h1>@ErrorCode</h1>
        <BitLabel Class="text-white">@ErrorMessage</BitLabel>
        @switch (@ErrorCode)
        {
            @case "404":
                <img id="planet" src="data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%3E%3C/svg%3E" />
                break;
            @case "500":
                <img id="planet" src="../images/planets/saturn.svg" />
                break;
            @case "503":
                <img id="planet" src="../images/planets/jupiter.svg" />
                break;
        }
        <BaseNavigateButtonComponent Href="/" Text="@localizer["GoHome"]"></BaseNavigateButtonComponent>
    </div>
</div>