@inject IStringLocalizer<Resource> localizer

<div class="error-page">
    <div>
        @switch (@ErrorCode)
        {
            @case "404":
                <h1 data-h1="404">404</h1>
                <p data-p="NOT FOUND">صفحه یافت نشد</p>
                break;
            @case "500":
                <h1 data-h1="500">500</h1>
                <p data-p="NOT FOUND">خطای داخلی سرور</p>
                break;
            @case "503":
                <h1 data-h1="503">503</h1>
                <p data-p="NOT FOUND">سرویس در دسترس نمیباشد</p>
                break;
        }
    </div>
</div>

<a href="#" class="back">بازگشت</a>
