@page "/download/win"
@inject IStringLocalizer<Resource> localizer

<div class="card mb-4">
    <div class="card-header"><BitLabel>@localizer["DynamicDNSUpdateClient"]</BitLabel></div>
    <div class="card-body">

        <!-- Form Row-->
        <div class="row gx-3 mb-3">
            <!-- Form Group (first name)-->
            <div class="col-md-6">
                <BaseNavigateButtonComponent Target="_blank"
                                             Href="https://api.dnslab.ir/Files/setup/win/dnslab.msi"
                                             Text="@(localizer["DownloadNow"] + "(v1.6.4)")">
                </BaseNavigateButtonComponent>
            </div>
        </div>
        <div class="row gx-3 mb-3">
            <BitLabel>@localizer["WinClientMessage"]</BitLabel>
        </div>
    </div>
</div>