@using DNSLab.Web.DTOs.Repositories.Wallet
@attribute [Route(AllRoutes.WalletTransactions)]
@attribute [Authorize]

<MudCard Elevation="0" Outlined>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h5">تراکنش‌ها</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <MudDataGrid T="WalletTransactionDTO" VirtualizeServerData="ServerDataFunc" Virtualize Dense Hover Bordered Outlined FixedHeader SortMode="SortMode.None" Height="70vh" Loading="_Loading" ItemSize="55">
            <NoRecordsContent>
                <MudAlert Severity="Severity.Warning" ContentAlignment="HorizontalAlignment.Center" NoIcon>
                    <MudText Typo="Typo.caption">هیچ تراکنشی یافت نشد</MudText>
                </MudAlert>
            </NoRecordsContent>
            <Columns>
                <PropertyColumn Property="x=>x.TransactionType" Title="نوع" />
                <TemplateColumn Title="مبغ">
                    <CellTemplate>
                        <MudAlert Severity="@(@context.Item.Incremental ? Severity.Success : Severity.Error)" Variant="Variant.Text" NoIcon Dense ContentAlignment="HorizontalAlignment.Center">
                            <MudText>@context.Item.Amount.Separate3Digits().EnglishToPersianNumbers()</MudText>
                        </MudAlert>
                    </CellTemplate>
                </TemplateColumn>
                <PropertyColumn Property="x=>x.PaymentStatus" Title="وضعیت پرداخت" />
                <PropertyColumn Property="x=>x.CreateDate" Title="زمان">
                    <CellTemplate>
                        <MudText>@context.Item.CreateDate.ToLocalTime().ToPersianDateTime().EnglishToPersianNumbers()</MudText>
                    </CellTemplate>
                </PropertyColumn>
            </Columns>
            <RowLoadingContent>
                <tr class="mud-table-row" style="height:55px">
                    <td class="mud-table-cell" colspan="1000">
                        در حال بارگذازی...
                    </td>
                </tr>
            </RowLoadingContent>
        </MudDataGrid>
    </MudCardContent>
</MudCard>