@page "/Section/{SectionName}"
<div class="container p-5 bg-body rounded shadow-sm">
    @*<div class="col-10 col-sm-8 col-lg-6">
        <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>*@
    <p class="h1">@SectionName</p>
    <p>در این مقاله روش ساخت یک هاست نِیم رو مرحله به مرحله توضیح داده خواهد شد </p>
    <p class="h2">مرحله اول : ساخت حساب کاربری</p>
    <p>در صورتی که هنوز حساب کاربری ایجاد نکرده اید ابتدا <a href="section/حساب کاربری">این مطلب</a> را مطالعه فرمایید</p>
    <p class="h2">مرحله دوم : ورود به حساب کاربری</p>
    <p class="h2">مرحله سوم : انتخاب منوی <mark>هاست نِیم های من</mark> مطابق تصویر زیر</p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
    </div>
</div>

@code {
    [Parameter] public string SectionName { get; set; }
}
