@page "/Support"

<NavBar />

<div class="container-xl mt-5">
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">پشتیبانی</h6>
        <SupportItem Title="ثبت DNS" Link="CreateDNS" Description="در این آموزش نحوه ثبت دی ان اس و استفاده آن را خواهید دید"></SupportItem>
        <SupportItem Title="باز کردن پورت" Link="CreateDNS" Description="در این آموزش نحوه ثبت دی ان اس و استفاده آن را خواهید دید"></SupportItem>
        <SupportItem Title="هدایت پورت" Link="CreateDNS" Description="در این آموزش نحوه ثبت دی ان اس و استفاده آن را خواهید دید"></SupportItem>
        <SupportItem Title="فعال سازی ریموت" Link="CreateDNS" Description="در این آموزش نحوه ثبت دی ان اس و استفاده آن را خواهید دید"></SupportItem>
        <SupportItem Title="ثبت DNS" Link="CreateDNS" Description="در این آموزش نحوه ثبت دی ان اس و استفاده آن را خواهید دید"></SupportItem>
    </div>
</div>
@code {

}
