@page "/Support"
@inject IPageRepository _PageRepository

<div class="container p-5 bg-body rounded shadow-sm">
    <h4 class="border-bottom pb-2 mb-0">راهنمای سایت</h4>
    <div class="note info">
        <p>توجه فرمایید در برخی آموزش ها آی‌پی عمومی شما بصورت ( <code><strong>@IPDTO.IPv4</strong></code> ) مشخص شده است و این آی‌پی فقط به شما نمایش داده میشود و شخص دیگری قادر به مشاهده آن نمیباشد و این آدرس منحصر به فرد میباشد.</p>
    </div>
    @if (pageSummaries == null)
    {
        <Loading />
    }
    else
    {
        @foreach (var item in pageSummaries.OrderByDescending(x => x.CreateDate))
        {
            <SupportItem Title="@item.Title" Link="@($"{@item.PageType}/{@item.URL}")" Description="@item.Description" />
        }
    }

</div>
@code {
    [CascadingParameter] public IPDTO IPDTO { get; set; }

    IEnumerable<PageSummaryDTO> pageSummaries;

    protected override async Task OnInitializedAsync()
    {
        pageSummaries = await _PageRepository.GetAllPagesSummaryByPageType(PageTypeEnum.Support);
    }
}
