@page "/Support"

<div class="container p-5 bg-body rounded shadow-sm">
    <h4 class="border-bottom pb-2 mb-0">پشتیبانی</h4>
    <SupportItem Title="ساخت هاست نِیم جدید" Link="https://vrgl.ir/3mHqT" Description="در این آموزش نحوه ثبت دی ان اس و استفاده آن را خواهید دید"></SupportItem>
    <SupportItem Title="ایجاد توکن برای هاست نیم ها" Link="https://vrgl.ir/NBYFN" Description="در این مقاله روش ساخت و استفاده از توکنه از توکن گفته میشود"></SupportItem>
  
</div>
@code {

}
