@page "/Support"

<div class="container p-5 bg-body rounded shadow-sm">
    <h4 class="border-bottom pb-2 mb-0">پشتیبانی</h4>
    <SupportItem Title="ساخت هاست نِیم جدید" Link="Section/ساخت هاست نِیم جدید" Description="در این آموزش نحوه ثبت دی ان اس و استفاده آن را خواهید دید"></SupportItem>
   @* <SupportItem Title="حساب کاربری" Link="Section/حساب کاربری" Description="در این آموزش نحوه ثبت دی ان اس و استفاده آن را خواهید دید"></SupportItem>
    <SupportItem Title="هدایت پورت" Link="CreateDNS" Description="در این آموزش نحوه ثبت دی ان اس و استفاده آن را خواهید دید"></SupportItem>
    <SupportItem Title="فعال سازی ریموت" Link="CreateDNS" Description="در این آموزش نحوه ثبت دی ان اس و استفاده آن را خواهید دید"></SupportItem>
    <SupportItem Title="ثبت DNS" Link="CreateDNS" Description="در این آموزش نحوه ثبت دی ان اس و استفاده آن را خواهید دید"></SupportItem>*@
</div>
@code {

}
