@page "/Support"

<div class="container p-5 bg-body rounded shadow-sm">
    <h4 class="border-bottom pb-2 mb-0">راهنمای سایت</h4>
    <SupportItem Title="دیگه با DNS نیاز به IP Static ندارید" Link="/Article/Use-DDNS-Instead-Of-IP" Description="تو این آموزش روش ثبت DNS و جایگزینی اون با آی پی استاتیک رو آموزش میبینید"></SupportItem>
    <SupportItem Title="ساخت هاست نِیم جدید" Link="/Article/Create-New-DNS" Description="در این آموزش نحوه ثبت دی ان اس و استفاده آن را خواهید دید"></SupportItem>
    <SupportItem Title="ایجاد توکن برای هاست نیم ها" Link="/Article/Create-New-Token-For-DNS" Description="در این مقاله روش ساخت و استفاده از توکنه از توکن گفته میشود"></SupportItem>
    <SupportItem Title="هدایت پورت روی مودم" Link="/Article/How-To-Port-Forwarding-In-DLink-Model" Description="روش هدایت پورت روی مودم آموزش داده میشه - Port Forwarding"></SupportItem>
    <SupportItem Title="اتصال به سیستم خونگی با آی‌پی عمومی" Link="https://vrgl.ir/alHB4" Description="در اینجا روش اتصال به سیستم خونه با آی‌پی عمومی مشکلات اون بررسی میشه"></SupportItem>
</div>
@code {

}
