@inject ICommentRepository _CommentRepository
@inject AuthenticationStateProvider auth
@inject NavigationManager _NavigationManager

<h3>نظرات کاربران</h3>
<div class="row">
    <BitMessageBar MessageBarType="BitMessageBarType.Info">
        @if (PageCommentAndReplies != null && PageCommentAndReplies.Count() == 0)
        {
            <BitLabel>تا کنون هیچ دیدگاهی ثبت نشده است ، شما میتونید اولین نفر باشید.</BitLabel>
        }
        <BitLabel>اگر اطلاعات یا دیدگاهی در مورد مطالب این صفحه دارید، لطفا با ما و کاربران دیگر به اشتراک بگذارید.</BitLabel>
    </BitMessageBar>
    <div class="col-auto">
        <BaseButtonComponent Caption="ثبت دیدگاه"
                             Icon="BitIconName.CommentAdd"
                             OnClick="AddNewPageComment">
        </BaseButtonComponent>
    </div>
    @if (PageCommentAndReplies != null)
    {
        <div class="col-10">
            @foreach (var item in PageCommentAndReplies.OrderByDescending(x => x.Comment.CreateDate))
            {
                <PageCommentItem PageComment="item.Comment" AuthUserId="CurrentUserId"></PageCommentItem>
                if (item.Replies.Count() > 0)
                {
                    foreach (var reply in item.Replies)
                    {
                        <PageCommentItem PageComment="reply" IsReply=true AuthUserId="CurrentUserId"></PageCommentItem>
                    }
                }
            }
        </div>
    }
</div>

<Modal @ref="AddNewPageCommentModal">
    <Title><BitLabel>ثبت دیدگاه جدید</BitLabel></Title>
    <Body>
        <BitLabel>اطلاعات یا دیدگاه خود در مورد مطالب این صفحه دارید را در کادر پایین وارد نمایید.</BitLabel>
        <BitTextField IsMultiline=true
                      Rows="7"
                      @bind-Value="NewPageComment.Text">
        </BitTextField>
    </Body>
    <Footer>
        <BaseButtonComponent Caption="ثبت دیدگاه"
                             Icon="BitIconName.CommentAdd"
                             OnClick="SubmitComment"></BaseButtonComponent>
    </Footer>
</Modal>


@code {
    [Parameter] public Guid PageId { get; set; }

    Guid CurrentUserId = Guid.Empty;

    Modal AddNewPageCommentModal;
    CreatePageCommentDTO NewPageComment = new CreatePageCommentDTO { Text = String.Empty };

    IEnumerable<PageCommentAndRepliesDTO> PageCommentAndReplies;

    protected override async Task OnInitializedAsync()
    {
        PageCommentAndReplies = await _CommentRepository.GetPageComments(PageId);

        var user = (await auth.GetAuthenticationStateAsync()).User;

        if (user.Identity != null)
            CurrentUserId = Guid.Parse(user.Identities.FirstOrDefault()!.Claims.FirstOrDefault(x => x.Type.ToLower() == "nameid")!.Value);
    }

    async Task AddNewPageComment()
    {
        if (CurrentUserId == Guid.Empty)
            _NavigationManager.NavigateTo($"/user/auth?RedirectTo={new Uri(_NavigationManager.Uri).AbsolutePath}");
        else
            await AddNewPageCommentModal.Open();
    }

    async Task SubmitComment()
    {
        NewPageComment.PageId = PageId;

        if (await _CommentRepository.CreatePageComment(NewPageComment))
        {
            NewPageComment.Text = String.Empty;
            await AddNewPageCommentModal.Close();
            await OnInitializedAsync();
        }
    }
}
