@page "/Tag/{Tag}"
@inject IPageRepository _PageRepository

<h1 class="border-bottom pb-2 mb-0">جستوجو بر اساس کلمات کلیدی ( @Tag )</h1>
<MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Right">
    <MudText>در این صفحه مطالب متناسب با کلید واژه انتخاب شده برای شما نمایش داده میشود و میتوانید به محتوای مورد نیاز ، سریع تر دسترسی پیدا کنید.</MudText>
    <MudText>توجه داشته باشید که مرتب سازی مطالب بر اساس تاریخ انتشار آن میباشد . مطالب جدیدتر در بالای لیست قرار دارند.</MudText>
</MudAlert>

@if (pageSummaries != null)
{
    <MudText>برای کلمه کلیدی ( @Tag ) به تعداد @pageSummaries.Count().ToString().EnglishToPersianNumbers() مورد مطلب یافت شد. </MudText>
}
@if (pageSummaries == null)
{
    <Loading />
}
else if (pageSummaries.Count() > 0)
{
    @foreach (var item in pageSummaries.OrderByDescending(x => x.CreateDate))
    {
        <PageLinkItem Title="@item.Title" Link="@($"{@item.PageType}/{@item.URL}")" Description="@item.Description" />
    }
}
else
{
    <MudAlert Severity="Severity.Warning" ContentAlignment="HorizontalAlignment.Right">
        <MudText Align="Align.Center">موردی یافت نشد</MudText>
    </MudAlert>
}
