@page "/api"

<div class="container p-5 bg-body rounded shadow-sm">
    <h3 class="border-bottom pb-2 mb-0" >راهنمای API های سایت برای توسعه دهندکان</h3>
    <p>توسعه دهندگان گرامی میتوانند برای دریافت آی پی عمومی از این سرویس استفاده نمایند</p>
    <a href="https://api.dnslab.ir/ip" target="_blank">https://api.dnslab.ir/ip</a>
</div>

@code {

}
