@page "/api"

<div class="container p-5 bg-body rounded shadow-sm">

    <h1>راهنمای API های سایت برای توسعه دهندکان</h1>
    <h3>توسعه دهندگان گرامی میتوانند از خدمات زیر بصورت رایگان استفاده نماییند</h3>
    <PageVisitCounter />
    <hr />
    <p>برای دریافت آی پی عمومی از این سرویس استفاده نمایند</p>
    <div class="dir-ltr">
        <CopyToClipboard Text="https://api.dnslab.ir/ip"/>
        <a href="https://api.dnslab.ir/ip" target="_blank">https://api.dnslab.ir/ip</a>
    </div>
    <hr />
    <p>بررسی پینگ IP یا یک آدرس اینترنتی</p>
    <p class="dir-ltr"><code>https://api.dnslab.ir/IP/IPHavePing?hostOrIPAddress={IP_or_Host}</code></p>
    <p>برای مثال</p>
    <div class="dir-ltr">
        <CopyToClipboard Text="https://api.dnslab.ir/IP/IPHavePing?hostOrIPAddress=google.com"/>
        <a href="https://api.dnslab.ir/IP/IPHavePing?hostOrIPAddress=google.com" target="_blank">https://api.dnslab.ir/IP/IPHavePing?hostOrIPAddress=google.com</a>
    </div>
    <p>برای مثال آی پی شما ( <code><strong>@IPDTO.IPv4</strong></code> )</p>
    <div class="dir-ltr">
        <CopyToClipboard Text=@("https://api.dnslab.ir/IP/IPHavePing?hostOrIPAddress=" + @IPDTO.IPv4) />
        <a href="https://api.dnslab.ir/IP/IPHavePing?hostOrIPAddress=@IPDTO.IPv4" target="_blank">https://api.dnslab.ir/IP/IPHavePing?hostOrIPAddress=@IPDTO.IPv4</a>
    </div>
    <hr />
    <p>بررسی باز بودن پورت IP یا یک آدرس اینترنتی</p>
    <p class="dir-ltr"><code>https://api.dnslab.ir/IP/IsIPAndPortOpen?hostOrIPAddress={IP_or_Host}&port={Port}</code></p>
    <p>برای مثال آدرس گوگل و بررسی باز بودن پورت 80</p>
    <div class="dir-ltr">
        <CopyToClipboard Text="https://api.dnslab.ir/IP/IsIPAndPortOpen?hostOrIPAddress=google.com&port=80"/>
        <a href="https://api.dnslab.ir/IP/IsIPAndPortOpen?hostOrIPAddress=google.com&port=80" target="_blank">https://api.dnslab.ir/IP/IsIPAndPortOpen?hostOrIPAddress=google.com&port=80</a>
    </div>
    <p>برای مثال آی پی شما ( <code><strong>@IPDTO.IPv4</strong></code> ) و پورت 80</p>
    <div class="dir-ltr">
        <CopyToClipboard Text=@("https://api.dnslab.ir/IP/IsIPAndPortOpen?hostOrIPAddress="+ @IPDTO.IPv4+"&port=80") />
        <a href="https://api.dnslab.ir/IP/IsIPAndPortOpen?hostOrIPAddress=@IPDTO.IPv4&port=80" target="_blank">https://api.dnslab.ir/IP/IsIPAndPortOpen?hostOrIPAddress=@IPDTO.IPv4&port=80</a>
    </div>
    <hr />
    <p>بدست آوردن IP بوسیله دی‌ان‌اس</p>
    <p class="dir-ltr"><code>https://api.dnslab.ir/IP/DNSLookup?hostOrIPAddress={{SubDomain}.IP_or_Host}</code></p>
    <p>برای مثال آدرس دولوپر گوگل</p>
    <div class="dir-ltr">
        <CopyToClipboard Text="https://api.dnslab.ir/IP/DNSLookup?hostOrIPAddress=developer.google.com" />
        <a href="https://api.dnslab.ir/IP/DNSLookup?hostOrIPAddress=developer.google.com" target="_blank">https://api.dnslab.ir/IP/DNSLookup?hostOrIPAddress=developer.google.com</a>
    </div>
    <hr />
    <p>جستجوی معکوس IP برای بدست آوردن آدرس DNS</p>
    <p class="dir-ltr"><code>https://api.dnslab.ir/IP/ReverseLookup?IPAddress={IP}</code></p>
    <p>برای مثال آدرس IP دی‌ان‌اس گوگل</p>
    <div class="dir-ltr">
        <CopyToClipboard Text="https://api.dnslab.ir/IP/ReverseLookup?IPAddress=8.8.8.8" />
        <a href="https://api.dnslab.ir/IP/ReverseLookup?IPAddress=8.8.8.8" target="_blank">https://api.dnslab.ir/IP/ReverseLookup?IPAddress=8.8.8.8</a>
    </div>
    <hr />
</div>

@code {
    [CascadingParameter] public IPDTO IPDTO { get; set; }
}
