@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Text.RegularExpressions;

<div class="bit-txt bit-txt-fluent bit-txt-enabled-fluent bit-txt-required-fluent">
    <div class="bit-txt-wrapper">
        <BitLabel>تگ ها</BitLabel>
        <div class="bit-txt-field-grp">
            <input class="txt-field"
                   placeholder="با ( ویرگول ) جدا کنید"
                   autocomplete="off"
                   @bind-value="Value"
                   @bind-value:event="oninput"
                   @onkeyup="AddTags" />
        </div>
    </div>
</div>
@if (IsContainSpecialCharacter)
{
    <BitMessageBar MessageBarType="BitMessageBarType.SevereWarning">
        <BitLabel Class="text-left m-0 p-1">امکان درج کاراکتر های خاص وجود ندارد</BitLabel>
    </BitMessageBar>
}
<div class="suggestion-container">
    <div class="tagsinput">
        @if (Tags != null && Tags.Any())
        {
            @foreach (var tag in Tags)
            {
                <span class="tag">
                    <span class="tag-text">@tag</span>
                    <span class="tag-remove" @onclick="() => DeleteTag(tag)" />
                </span>
            }
        }
    </div>
</div>