@inject IIPRepository iPRepository
@inject IStringLocalizer<Resource> localizer

@typeparam TItem

<EditForm Model="Model" Context="editCtx">
    <DataAnnotationsValidator />
    <MudText Typo="Typo.h3">@Header</MudText>
    <div class="row gx-3 mb-3">
        @Body
    </div>
    <BaseButtonComponent Caption="@localizer["Check"]" Icon=@Icons.Material.Filled.Search OnClick=OnValidSubmit
        EditContext="editCtx">
    </BaseButtonComponent>
    @if (Results != null && Results.Count > 0)
    {
        <MudDivider />
        <MudList>
            @foreach (var item in Results)
            {
                <MudListItem>
                    <MudText Class="dir-ltr">
                        @((MarkupString)item)
                    </MudText>
                </MudListItem>
            }
        </MudList>
    }
    </EditForm>
