@page "/Article/Connect-To-Home-System-With-Public-IP"

<ArticleForm Header="اتصال به سیستم خانگی با استفاده از آی‌پی عمومی">
    <Body>
        <img src="images/site/site-social-image.png" alt="dnslab social media image - عکس شبکه اجتماعی دی ان اس لب" />
        <p><strong>در این مقاله قراره یه سری توضیحات راجع به این که چجوری میشه به سیستم خونه از طریق اینترنت وصل شد بدم .</strong></p>
        <p>خب برای اینکه به سیستم خونگی یا همون localhost وصل بشیم لازمه بدونیم آی‌پی عمومی یا همون Public IP چی هستش و برای بدست آوردن این آدرس میشه تو گوگل سرچ کرد "what is my IP" که ما برای راحتی شما خودمون این کارو میکنیم .</p>
        <p>آی پی عمومی شما : <code><strong>@IPDTO.IPv4</strong></code></p>
        <div class="note info">
            <p>بعد از بدست آوردن آی‌پی عمومی شما تو هر دستگاهی فراخوانی کنید میتونید به سیستم شخصیتون وصل بشید البته باید به چند تا نکته مهم زیر توجه کرد .</p>
            <h5>نکات اتصال به سیستم خانگی با Public IP</h5>
            <p>نکته اول : باید پورتی که میخواید بهش وصل شید از طرف مودم اینترنت ADSL و همچنین Windows باز باشه . برای بررسی باز بودن پورت میتونید در همین سایت ثبت نام کنید و از منوی ابزار ها بخش بررسی پورت از باز بودن پورت دستگاه مطمئن شید .</p>
            <p>نکته دوم : بررسی شرکت ارائه دهنده اینترنت که آیا آی‌پی اینترنت ارائه شده توسط شرکت بصورت Public IP میباشد یا خیر اینجا چند مورد رو اشاره میکنم</p>
        </div>
        <p>اینترنت های سیم کارت ها آی‌پی عمومی واقعی و درست ندارند (99%)</p>
        <p>شما باید یه دستگاه مودم داشته باشید که به آی‌پی عمومی وصل باشه بتونید به سیستم متصل بشید</p>
        <p>شرکت های ارائه دهنده اینترنت (ISP) برای تمامی سیم کارت ها از NAT یا PAT استفاده میکنن و امکان اتصال به این آدرس ها از طریق اینترنت وجود ندارد که در ادامه این هارو توضیح میدم .</p>
        <h6>خب NAT و PAT چیه ؟</h6>
        <p>به زبان ساده ، NAT آی‌پی منبع رو از آدرس خصوصی به عمومی ترجمه میکنه - قابل مسیر یابی است، وقتی یه پکت آی‌پی (دیتایی که توسط آی‌پی جابجا میشه) توسط روتر (مودم اینترنت) خارج میشه ، بصورتی است که پکت میتواند با آدرس IP قابل شناسایی بازگردانی بشود . بر عکس این زمانی اتفاق می افته که پاسخ برای همان بسته یا پکت در مودم دریافت بشه . این به این معنی هستش که شرکت های ارائه دهنده اینترنت یه آی‌پی عمومی رو به چندین مشتری (تلفن ، رایانه شخصی ، ...) با آی‌پی های خصوصی ارائه میدن که در شبکه داخلی شرکت ارائه دهنده اینترنت منحصیر به فرد هستش . اما همه ی این آی‌پی ها در شبکه خصوصی یک آی‌پی عمومی در شبکه اینترنت دارن . اینجا آدرس های پورت وارد عمل میشن . PAT هر آدرس آی‌پی محلی رو به همون آدرس ‌آی‌پی عمومی با یک پورت منحصر به فرد ترجمه میکنه .</p>
        <h6>اصطلاح CGNAT چی هستش ؟</h6>
        <p>برای رفع مشکل کمبود آدرس آی‌پی ، ارائه دهندگان خدمات اینترنت نیز NAT را انجام می دهند که NAT درجه حامل نامیده می شود(Carrier Grade NAT).این به این معنی هستش که آدرس آی‌پی اختصاص داده شده توسط ISP به شما یک آی‌پی عمومی نیست بلکه یه آدرس آی‌پی خصوصی هستش :( . این وضعیت قطعا برای داده های تلفن همراه وجود دارد یعنی 3G و 4G ، اما در اتصالات DSL (مودم های خونگی) کمتر رخ میده .</p>
        <h6>اصلاح Dynamic IP Address ؟</h6>
        <p>به منظور حداکثر استفاده از مجموعه آدرس های IP موجود، ISP عمدتاً آدرس IP پویا را حتی زمانی که CGNAT وجود ندارد اختصاص می دهد. بنابراین IP عمومی بسته به خط مشی ISP به صورت روزانه، هفتگی، ماهانه یا تصادفی تغییر می کند.</p>
        <p>شبکه IPv6 پروتکل آینده است که نیازی به NAT ندارد و هر میزبان شبکه روی زمین می تواند یک آدرس IP منحصر به فرد داشته باشد. اگه تو ایران بیاد البته :)</p>
        <h6>خب بریم ببینیم راه حل چیه</h6>
        <p>1) اگر CGNAT وجود ندارد، می‌توانیم با راه‌اندازی Port Forwarding، مشکل NAT روتر DSL/3G/4G را برطرف کنیم. اما این گزینه کار نمی کند اگر:</p>
        <ul>
            <li>بیش از یک هاست در شبکه محلی وجود دارد که در یک پورت گوش می دهند (80 در مورد http).</li>
            <li>فایروال های ISP به شما اجازه دریافت اتصالات ورودی را نمی دهند.</li>
            <li>شرکت های ارائه دهنده اینترنت یا ISP شما را از بخش Port Forwarding روتر خود قفل می کند یا روتر 3G/4G اصلاً تنظیمات Port Forwarding را ندارد.</li>
        </ul>
        <p>2) مشکل IP Dynamic را می توان با ثبت نام در یک سرویس DDNS حل کرد. یک نام دامنه به شما اختصاص می دهد که همیشه به IP عمومی فعلی شما متصل می شود. شما باید نرم افزار آنها را روی رایانه شخصی خود نصب کنید تا آنها را از IP عمومی خود به روز نگه دارید.</p>
        <p>اگر مشکل به CGNAT مربوط میشد :</p>
        <ul>
            <li>اگر ISP شما این سرویس را ارائه می‌کند، می‌توانید یک IP عمومی ثابت بخرید، اما قیمت آن در بیشتر موارد «ارزون نیست» نیست.</li>
            <li>اگه شنود شدن اطلاعاتتون برای شما مهم نیست میتونید از VPN های عمومی که میتونن پورت رو هدایت کنن استفاده کنید مثل سایت portmap.io</li>
        </ul>
    </Body>
</ArticleForm>


@code {
    [CascadingParameter] public IPDTO IPDTO { get; set; }
}
