@page "/Article/Create-New-Token-For-DNS"

<ArticleForm Header="آموزش ساخت توکن برای بروزرسانی دی‌ان‌اس">
    <Body>
        <p>همونطور که در جریان هستید در  <a href="Article/Create-New-DNS">قسمت قبلی</a> توضیح دادیم که از طریق این سایت دیگه نیازی به داشتن آی پی ثابت ندارید .</p>
        <p>تو این مطلب قراره راجع به یه قابلیت جدید توی سایت به اسم توکن صحبت کنیم</p>
        <p>دوستان زیادی سوال پرسیده بودن که توی سیستم عامل های غیر ویندوزی چجوری میشه آی پی رو بروزرسانی کرد که با توکن این مشکل حل میشه که در ادامه مرحله به مرحله آموزش داده خواهد شد از همراهی شما سپاسگذارم</p>
        <img src="images/site/Supports/UserCommentForRequiredToken.PNG" alt="User comment for required token - نظر کاربر برای اضافه کردن توکن" />
        <p>خب از اونجایی که سایت دی ان اس لب یه سایت برای افراد آی تی هستش و افراد زیادی از این قشر با سیستم عامل لینوکس کار میکردن نیاز بود تا یه راهکار راحت تدبیر بشه تا دوستان لینوکسی به مشکل نخورند :)</p>
        <p>برای حل این مشکل یه بخشی به سایت اضافه شد به اسم توکن (Tokens) که تو این بخش شما برای دی ان اس های خود میتونید توکن بسازید و با دریافت فایل Shell و یا PowerShell آی پی سیستم رو با سایت هر لحظه سینک کنید .</p>
        <p>خب بریم روش ایجاد و استفاده رو ببینیم</p>
        <h6>مرحله اول : مثل همیشه باید اول وارد سایت بشید :/</h6>
        <h6>مرحله دوم : از منوی خودتون بخش توکن رو انتخاب کنید</h6>
        <h6>مرحله سوم : انتخاب نام و هاست نِیم</h6>
        <p>در صفحه ای که براتون باز شده دکمه ایجاد توکن رو بزنید و یه اسم دلخواه برای توکن انتخاب کنید و در لیست هاست نِیم های خودتون اونایی که میخواید با این توکن بروزرسانی بشن رو انتخاب کنید</p>
        <p>مثل تصویر زیر</p>
        <img src="images/site/Supports/CreateToken.PNG" alt="ایجاد توکن برای دی‌ان‌اس - create new token for dns" />
        <div class="note danger">
            <p>نکته : یادتون باشه این هاست نِیم ها فقط شامل نوع A میشوند و گروه های AAAA و CNAME در این لیست قرار نمیگیرند</p>
        </div>
        <p>مرحله پنجم که خیلی مهمه اینه که بعد از ایجاد توکن روی جزئیات کلیک کنید مثل تصویر زیر</p>
        <img src="images/site/Supports/TokenDetails.PNG" alt="جزئیات توکن - token details" />
        <h6>مرحله چهارم : دانلود اسکریپت متناسب با سیستم عامل</h6>
        <p>باید متناسب با سیستم عاملتون یکی از روش های زیر رو انتخاب کنید</p>
        <p>کسانی که از نسخه های لینوکس استفاده میکنند میتونن از فایل اسکریپت شِل (Curl , Wget) استفاده کنن و اونو دانلود کنن و در استارت آپ سیستم قرار بدن</p>
        <p>کسانی که از ویندوز استفاده میکنن و نمیخوان اپلیکیشن نصب کنند هم میتونن از فایل اسکریپت پاور شِل استفاده کنند و اونو در استارت آپ سیستم قرار بدن</p>
        <p>برای سیستم عامل هایی که امکان اجرای Shell یا PowerShell وجود نداره هم یه راهکار هست اونم لینک آپدیت توکن هستش که هر سیستم عاملی صدا زده بشه آی پی اون سیستم رو به سایت اطلاع میده تا هاست نِیم های توکن باهاش آپدیت بشن که در ادامه نمونه ها را ملاحظه خواهید کرد</p>
        <img src="images/site/Supports/TokenDtailsModal.png" alt="مودال جزئیات توکن - token details modal" />
    </Body>
</ArticleForm>