@page "/Article/Create-New-DNS"

<ArticleForm Header="روش ساخت دی‌ان‌اس (DNS)">
    <Body>
        <p>یکی از مشکلاتی که روی شبکه اینترنت هست تغییر آدرس آی پی عمومی بصورت خودکار از سمت شرکت های سرویس دهنده اینترنت (ISP) هستش و اگه ما بخوایم این آدرس تغییر نکنه باید یه هزینه اضافه به شرکت پرداخت کنیم تا آی پی ما رو ثابت نگه دارن و قسمت بد ماجرا اینجاست که این خدمت رو خیلی از شرکت ها برای افراد حقیقی انجام نمیدن و میگن خط هامون پر شده و .‌‌.‌‌.</p>
        <p>خب در اینجا یه راه حل وجود داره اونم اینه که یه چیزی باشه که مثل دفترچه تلفن تمام خط هارو بدونه مثلا وقتی میگیم شماره اکبر چنده شماره رو بهمون بگه . حالا فرض کنید جای شماره آی پی عمومی شما رو بگه به مثال زیر دقت کنید</p>
        <p>فرض کنیم آی پی عمومی من ۸۴.۲۴۱.۴۷.۱۱۰ هستش و این آدرس هر بار که مودم رو خاموش روشن میکنم بصورت رندم تغییر میکنه</p>
        <p>حالا اگه من این آی پی رو داخل دفترچه به اسم Akbar ذخیره کنم و هر بار که آی پی عوض میشه ، دفترچه هم بروزرسانی شه دیگه نیاز ندارم بدونم که الان آی پی من چیه فقط کافیه اسم آی پی تو دفترچه که Akbar هستش رو بدونم</p>
        <p>خبر خوب اینه چندین سایت این کار رو انجام میدن اما خبر بد اینه که اکثرشون هزینه دارن و فقط چند ماه مجانی هستن</p>
        <p>اما شما میتونید با سایت ما این کار رو بصورت رایگان انجام بدید</p>
        <p>روش کار با سایت زیاد سخت نیست فقط کافیه تو سایت ثبت <a href="user/register">نام کنید</a> و وارد بخش هاست نِیم های من بشید و دکمه هاست نِیم جدید را بزنید و صفحه ای مشابه صفحه زیر براتون میاد</p>
        <img src="images/site/Supports/CreateHostName.PNG" alt="ساخت دی ان اس - Create DNS" />
        <p>در اینجا مثل تصویر DNS Host (A) رو انتخاب کنید و در قسمت هاست نِیم اسم دلخواهتونو وارد کنید فقط یادتون باشه که از این اسم قراره بعنوان آی پی ثابت استفاده کنید . قسمت بعدی آی پی هستش که بصورت پیش فرض آی پی دستگاهی که باهاش وارد سایت شدید وارد شده ولی میتونید تغییرش بدید و آی پی دلخواتونو وارد کنید ... بعد از اینکه تمام این کار هارو انجام دادید و دکمه ذخیره تغییرات رو زدید سایت یه زیردامنه برای شما میسازه که در مثال بالا میشه akbar.dnslab.ir و این به این معنیه که شما هر موقع این آدرس رو وارد مرورگر کنید انگار آی پی خودتونو وارد کردید و دیگه نیازی به آی پی ندارید</p>
        <p>فقط یه قسمت کوچیک اما مهم مونده اونم نصب اپلیکیشن سایت روی سیستم هستش . کار برنامه اینه که هر موقع آی پی سیستم عوض میشه به سایت اطلاع میده که اونم آی پی رو تغییر بده . برای دانلودشم وارد بخش <a href="download/win">دانلود</a> میشید و گزینه دانلود رو میزنید</p>
        <p>بعد از دانلود نام کاربری خودتونو وارد کنید و هاست نِیمی که ساختید رو انتخاب کنید تا بصورت مرتب آی‌پی شما بروزرسانی بشه</p>
    </Body>
</ArticleForm>