@page "/Article/How-To-Port-Forwarding-In-DLink-Model"

<ArticleForm Header="پورت فورواردینگ (Port Forwarding) در مودم D-Link">
    <Body>
        <p>تو این بحث قراره روش توضیح بدم چجوری میشه یه پورت خاصی که از شبکه اینترنت وارد شبکه مودمتون میشه رو به یه آی پی و پورت خاصی هدایت کنید</p>
        <p>این آموزش با مودم دی لینک تهیه شده اما زیاد با مودم های دیگه تفاوتی نداره ... پس خیالتون راحت</p>
        <p>خب بریم شروع کنیم برای اینکه یه پورت رو هدایت کنیم باید مطابق مراحل زیر عمل کنیم</p>
        <h6>مرحله اول : باز کردن آدرس <strong>192.168.1.1</strong> در مرورگر سیستمی که به مودم متصل هستش .</h6>
        <p>نکته : بعد از اینکه آدرس بالا رو میزنید ازتون نام کاربری و رمز عبور میخواد در صورتی که تغییر نداده باشید بصورت پیش فرض نام کاربری admin و رمز عبور هم admin میباشد .</p>
        <p>بعد از اینکه این آدرس رو زدین یه صفحه ای مثل صفحه زیر براتون باز میشه</p>
        <img src="images/site/Supports/DLinkIndexPage.png" alt="صفحه اصلی دی لینک - dlink index page" />
        <h6>مرحله دوم : خب در این صفحه باید از منوی بالا گزینه Advanced رو انتخاب کنید تا صفحه زیر باز شه براتون و بعدش باید از منوی کناری (سمت چپ) گزینه Port Forwarding رو انتخاب کنید تا صفحه ای مثل صفحه زیر باشه شه براتون</h6>
        <img src="images/site/Supports/DLinkAdvancedPage.png" alt="صفحه پیشرفته دی لینک - dlink advance page" />
        <h6>مرحله سوم : در این صفحه چند تا آیتم هست که باید با دقت انتخاب کنید</h6>
        <img src="images/site/Supports/PortForwardingSetup.png" alt="تنظیمات پورت فورواردینگ دی لینک - dlink Port Forwarding Setup" />
        <p><strong>Usual Service Name</strong></p>
        <p>این آیتم یک لیست هستش برای اسم های پیش فرض مثلا Auth , DNS , FTP و ... که در صورتی که هر کدومو انتخاب کنید در ورودی های WAN Port و Lan Open Port مقادیر پیش فرض جایگذاری میشه مثلا FTP میشه 21 یا مثلا مثل تصویر Auth میشه 113 ولی اگه میخواید یه پورت خاصی رو هدایت کنید دیگه نیازی به انتخاب Usual Service Name ندارید و باید User-defined Service Name رو انتخاب کنید</p>
        <p><strong>User-defined Service Name</strong></p>
        <p>این آیتم رو اگه انتخاب کنید باید یه اسم وارد کنید این اسم دست خود کاربر هستش مثلا من مینویسم Akbar</p>
        <p>نکته : در صورتی که این رو انتخاب کنید باید پورت هارو بصورت دستی وارد کنید</p>
        <p><strong>Protocol</strong></p>
        <p>پروتوکول برای اینه که بگه اتصال از نوع TCP هستش ِیا UDP که در 99 درصد حالت ها باید TCP انتخاب شه ولی بعضی موقع ها باید UDP انتخاب شه که توی یه مطلب بصورت کامل این رو توضیح میدم که چی هستش</p>
        <p><strong>WAN Setting</strong></p>
        <p>کلا دو تا گزینه داره به اسم های Interface و IP Address که هر کدومش رو بهتون توضیح میدم اگه بخواید فقط پورت یه آی پی اینترنتی خاصی رو هدایت کنید و بقیه رو نادیده بگیرید باید IP Address رو انتخاب کنید و در قسمت WAN IP Address آدرس آی پی مورد نظر رو وارد کنید اما اگه میخواید از هر آی پی در سطح اینترنت رو هدایت کنید باید Interface رو انتخاب کنید سپس WAN Interface رو روی Any قرار بدید</p>
        <p><strong>WAN Port</strong></p>
        <p>این مقدار میگه کدوم پورت اینترنت هدایت بشه مثلا ما میزنیم 8080 این یعنی آی پی اینترنتی شما رو روی انترنت بصورت (@IPDTO.IPv4:8080) صدا زده بشه .</p>
        <p>توجه کنید که آی پی <strong>@IPDTO.IPv4</strong> آی‌پی عمومی شما هستش</p>
        <p><strong>LAN Open Port</strong></p>
        <p>این قسمت میگه خب اگه از پورت 8080 یه پیامی سمت مودم اومد به کدوم پورت هدایت کنم در شبکه داخلی شما که ما اینجا برای نمونه 3389 (ریموت دستکتاپ) رو وارد میکنیم</p>
        <p>پس تا اینجا این شد که اگه کسی روی اینترنت آی پی عمومی مارو با پورت 8080 صدا بزنه مودم پیام رو به پورت 3389 شبکه ما هدایت میکنه</p>
        <p><strong>LAN IP Address</strong></p>
        <p>این میگه به کدوم آی پی شبکه داخلی هدایت بشه مثلا ما سیستممون روی شبکه داخلی آی پی آدرسش 192.168.1.8 هستش اونو میزنیم</p>
        <p>خب بریم یه مثال رو با هم بصورت کامل تنظیم کنیم .</p>
        <p>فرض کنید من میخوام هر کسی از هر جا آی پی عمومی من رو صدا زد و پورت 8080 رو صدا زد وصلش کنم به آدرس ریموت دستکتاپ خودم (پورت 3389) که روی آی پی 192.168.1.8 قرار داره باید بصورت زیر تنظیم کنیم</p>
        <img src="images/site/Supports/PortForwardingSample.png" alt="نمونه تنظیمات پورت فورواردینگ دی لینک - dlink Port Forwarding Sample" />
        <p>بعد از اون باید دکمه Add رو بزنید تا تنظیمات اعمال بشه</p>
        <p>فقط چند تا نکته مهم هستش که بهتون میگم</p>
        <p>1- پورتی که روی LAN Open Port وارد میکنید حتما باید از سمت Firewall سیستم عامل باز باشه در غیر این صورت پیام دریافت نمیشه برای باز کردن پورت تو گوگل بزنید (How to open port firewall) یا روش باز کردن پورت در فایروال</p>
        <p>2- آی پی اینترنتی یا عمومی شما همیشه ثابت نمیمونه پس 2 تا راهکار داره یا باید از شرکت ارائه دهنده اینترنتتون درخواست آی پی ثابت کنید که امکان داره ندن اگرم بدن ماهی باید 25 هزار تومن اضافه تر پرداخت کنید اما بعضی سایت ها DNS ارائه میدن که نیاز به آی پی ثابت نداشته باشید مثل همین سایت که داخلش هستید :). برای توضیحات بیشتر میتونید این مطلب که نوشتم رو بخونید</p>
        <p>3- بحث امنیت خیلی اهمیت داره حواستون باشه :)</p>
    </Body>
</ArticleForm>

@code {
    [CascadingParameter] public IPDTO IPDTO { get; set; }
}
