@page "/Article/Use-DDNS-Instead-Of-IP"

<ArticleForm Header="استفاده از Dynamic DNS (DDNS) به جای IP static">
    <Body>
        <p>در این مقاله قراره روش جایگزین کردن IP-static با DNS رو توضیح بدیم . مراحل ساده است و فقط باید به ترتیب انجام بشه</p>
        <h5>مرحله اول : ثبت نام در سایت</h5>
        <h5>مرحله دوم : این سایت به ما این امکان رو میده که یه آدرس DNS راحت که میتونیم حفظ کنیم رو بسازیم و به عنوان آی پی استاتیک استفاده کنیم</h5>
        <p>خب برای اینکه یه HostName بسازیم لازمه وارد سایت بشیم و از منو هاست نِیم های من رو انتخاب کنیم و در صفحه باز شده دکمه ایجاد هاست نِیم را انتخاب کنید تا صفحه زیر باز شود و مطابق تصویر یه رکورد از نوع DNS (A) ایجاد کنیم . مانند تصویر زیر</p>
        <img src="images/site/Supports/CreateHostName.PNG" loading="lazy" alt="ساخت هاست نیم" />
        <h5>مرحله سوم : دانلود نرم افزار از <a href="Download/Win">این صفحه</a> یا دانلود اسکریپت متناسب با سیستم عامل خودتون از  <a href="dns/mytokens">این صفحه</a> در بخش جزئیات توکن</h5>
        <p>این مرحله خیلی مهمه چون در صورت تغییر آی پی ما این بخش به سایت اطلاع رسانی میکنه ...</p>
        <p>دوستانی که از سیستم عامل ویندوز استفاده میکنن میتونن از منو وارد بخش دانلود بشوند و اپ رو دانلود و نصب کنن و بعد از نصب باید وارد حساب کاربری خودشون بشن و هاست نِیم هایی که میخواهند بروزرسانی شود رو انتخاب کنند</p>
        <p>اما دوستانی که از سیستم عامل های لینوکس و یا مک استفاده میکنند لازمه که ابتدا یه توکن در سایت ایجاد کنن . خب این توکن چی هستش ؟</p>
        <p>توکن این امکان رو به ما میده تا با فراخوانی یک آدرس Url بتونیم هاست نِیم هایی که به یه توکن متصل هستند رو بروزرسانی کنیم</p>
        <p>ابتدا باید وارد منوی <a href="dns/MyTokens">توکن ها</a> شوید</p>
        <p>بعد از اینکه وارد این منو شدیم باید گزینه ایجاد توکن رو بزنیم تا تصویر زیر براتون لود شه</p>
        <img src="images/site/Supports/CreateToken.PNG" loading="lazy" alt="ساخت توکن برای دی ان اس" />
        <p>در اینجا باید یه نام برای توکن خود انتخاب نمایید سپس در قسمت اینتخاب هاست نِیم باید هاست نِیم هایی که میخواهید با این توکن آپدیت شوند را تیک بزنید سپس دکمه ذخیره تغییرات را بزنید</p>
        <div class="note warning">
            <p>نکته : هاست‌نیم های نوع Alias Host در این لیست نمایش داده نمیشوند زیرا آن ها به یک دی‌ان‌اس اصلی وصل میباشند </p>
        </div>
        <p>بعد از آن مانند تصویر منوی توکن ها باید بر روی دکمه جزئیات درون لیست توکن ها کلیک کنید</p>
        <img src="images/site/Supports/TokenDetails.PNG" loading="lazy" alt="جزئیات توکن" />
        <p>مطابق سیستم عامل خود اقدام به دانلود یکی از اسکریپت های نمایید و بعد از دانلود باید اسکریپت را در استارت آپ سیستم خود قرار دهید</p>
        <div class="note info">
            <p>نکته : در صورتی که امکان اجرای اسکریپت وجود نداشت میتونید لینک بروزرسانی رو فراخوانی کنید تا آی پی محل فراخوانی به سرور ارسال شود</p>
        </div>
    </Body>
</ArticleForm>

@code {

}
